@use '../../style/authentication';

.flex-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.25rem;
}

.reset-password {
    p {
        color: #b7da28;

        &:hover {
            cursor: pointer;
        }
    }
}
