<ng-container *ngIf="isDarkThemeSelected$ | async"></ng-container>
<div
    class="login-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }"
    [ngStyle]="!isDarkThemeSelected ? { 'background-color': '#FFFFFF' } : {}">
    <div>
        <mat-card-title class="title">
            {{ 'auth.label_login' | transloco | titlecase }}
        </mat-card-title>
        <ng-container *ngIf="showHint">
            <div class="flex-end">
                <mat-icon (click)="showLoginMsg()">info</mat-icon>
            </div>
        </ng-container>
        <mat-card-content *ngIf="loginForm">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="login()">
                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_username' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="username"
                            formControlName="username"
                            id="login-username"
                            matInput
                            placeholder="{{ 'auth.label_username' | transloco | titlecase }}" />
                        <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-icon matSuffix>assignment_ind</mat-icon>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_password' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="password"
                            formControlName="password"
                            matInput
                            placeholder="{{ 'auth.label_password' | transloco | titlecase }}"
                            [type]="hide ? 'password' : 'text'" />
                        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <a
                            mat-icon-button
                            matSuffix
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                            (click)="hide = !hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </a>
                    </mat-form-field>
                </div>

                <div class="reset-password">
                    <p routerLink="/auth/reset">
                        {{ 'auth.link_forgot_password' | transloco }}
                    </p>
                </div>

                <div class="lt-button-footer-group">
                    <button
                        color="accent"
                        data-testid="submit"
                        mat-stroked-button
                        type="submit"
                        [disabled]="loginForm.invalid">
                        {{ 'buttons.login' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        mat-button
                        routerLink="/auth/register"
                        type="button">
                        {{ 'buttons.register' | transloco | titlecase }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </div>
</div>
