<mat-dialog-content>
    <mat-form-field
        class="form-wrapper"
        [appearance]="appearance">
        <mat-label>{{ 'user-search.title' | transloco | titlecase }}</mat-label>
        <input
            aria-label="State"
            matInput
            [formControl]="search"
            [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-option>
            <ng-container *ngIf="users?.length">
                <mat-option
                    *ngFor="let user of users"
                    [value]="user.displayName"
                    (onSelectionChange)="selectUser(user)">
                    {{ user.displayName }}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</mat-dialog-content>

<ng-container *ngIf="searchResult$ | async"></ng-container>
