@use '../../style/authentication';

:host {
    mat-card-title,
    mat-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    mat-form-field {
        width: 100%;
    }

    .checkbox-flex {
        align-items: center;
        display: flex;
        gap: 1rem;

        mat-label {
            max-width: fit-content;
        }
    }

    .container {
        max-width: 18.75rem;
    }
}
