<div
    class="login-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }"
    [ngStyle]="!isDarkThemeSelected ? { 'background-color': '#fff' } : {}">
    <div class="container">
        <mat-card-title class="title">
            {{ 'auth.title_password_recovery' | transloco }}
        </mat-card-title>
        <mat-card-content *ngIf="tokenViaUrl || tokenExists; else inputView">
            <form
                *ngIf="resetForm"
                [formGroup]="resetForm"
                (ngSubmit)="resetPassword()">
                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_token' | transloco | titlecase }}
                        </mat-label>
                        <input
                            formControlName="recoveryToken"
                            matInput
                            placeholder="Token"
                            type="text"
                            [readonly]="!tokenExists" />
                        <mat-error *ngIf="resetForm.controls['recoveryToken'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <vrt-password-form [passwordGroup]="resetForm"></vrt-password-form>

                <div class="lt-button-footer-group">
                    <button
                        color="accent"
                        mat-stroked-button
                        type="submit"
                        [disabled]="resetForm.invalid">
                        {{ 'buttons.save' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        mat-button
                        routerLink="/auth/login"
                        type="button"
                        (click)="resetForm.reset(); requestForm?.reset()">
                        {{ 'buttons.back' | transloco | titlecase }}
                    </button>
                </div>
            </form>
        </mat-card-content>

        <ng-template #inputView>
            <mat-card-content>
                <form
                    *ngIf="requestForm"
                    [formGroup]="requestForm">
                    <div>
                        <mat-form-field
                            appearance="outline"
                            color="accent">
                            <mat-label>
                                {{ 'auth.label_email_address' | transloco }}
                            </mat-label>
                            <input
                                formControlName="email"
                                matInput
                                placeholder="{{ 'auth.label_email_address' | transloco }}"
                                type="email" />
                            <mat-error *ngIf="requestForm.controls['email'].hasError('required')">
                                <strong>{{ 'validation.field_required' | transloco }}</strong>
                            </mat-error>
                            <mat-error *ngIf="requestForm.controls['email'].hasError('email')">
                                <strong>
                                    {{ 'validation.invalid_email_address' | transloco }}
                                </strong>
                            </mat-error>
                            <mat-icon matSuffix>alternate_email</mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <div class="checkbox-flex">
                    <mat-checkbox [(ngModel)]="tokenExists"></mat-checkbox>
                    <mat-label>
                        {{ 'auth.label_token_already_available' | transloco }}
                    </mat-label>
                </div>

                <div class="lt-button-footer-group">
                    <button
                        color="accent"
                        mat-stroked-button
                        type="submit"
                        [disabled]="requestForm?.invalid"
                        (click)="requestTokenFromApi()">
                        {{ 'buttons.request_token' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        mat-button
                        routerLink="/auth/login"
                        type="button"
                        (click)="resetForm?.reset(); requestForm?.reset()">
                        {{ 'buttons.back' | transloco | titlecase }}
                    </button>
                </div>
            </mat-card-content>
        </ng-template>
    </div>
</div>
