<div
    *ngIf="data$ | async as data"
    class="event-overview">
    <div class="page-info mat-app-background">
        <div class="page-actions">
            <div>
                <p class="lt-no-margin mat-small">{{ date | date: 'fullDate' }}</p>
                <p class="mat-h2">{{ 'events.title' | transloco | titlecase }}</p>
                <mat-slide-toggle
                    *vrtHasPermission="['admin', 'manager']"
                    labelPosition="before"
                    [checked]="data.toggleSwitch"
                    (change)="changeToggleState(!data.toggleSwitch)">
                    {{ data.toggleSwitch ? ('events.label_upcoming_events' | transloco) : ('events.label_past_events' | transloco) }}
                </mat-slide-toggle>
            </div>

            <div class="lt-display-flex-center">
                <vrt-event-filter-button
                    class="p-1"
                    [isFiltered]="data.isFiltered"
                    [venueFilter]="data.filterValue"
                    [venues]="data.venues"
                    (venueName)="onVenueSelectionChange($event)"></vrt-event-filter-button>

                <ng-container *vrtHasPermission="['admin', 'manager']">
                    <div class="admin-panel p-1">
                        <button
                            class="create-event-button"
                            color="accent"
                            data-testid="create-event-btn"
                            mat-icon-button
                            routerLink="/events/create"
                            (click)="resetEventStore()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="event-overview__card-area">
        <vrt-event-view
            [events]="data.toggleSwitch ? data.upcomingEvents : data.pastEvents"
            [user]="data.user"
            [venues]="data.venues"
            (deleteEvent)="onDeleteEvent($event)"
            (downloadLog)="onDownloadLog($event)"
            (register)="onRegister($event)"
            (unregister)="onUnregister($event)"></vrt-event-view>
    </div>

    <ng-container *ngIf="metaData$ | async as metaData">
        <div
            *ngIf="metaData | checkTotalEventCount"
            class="paging">
            <vrt-paging
                [metadata$]="metaData$"
                (changePage)="pageOptionChanged($event, data.toggleSwitch)"></vrt-paging>
        </div>
    </ng-container>
</div>
