:host {
    .event-overview {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;

        &__card-area {
            overflow: auto;
        }
    }

    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        .mat-card-header-text {
            margin: 0 !important;
        }
    }

    .page-info {
        margin-bottom: 0.625rem;
        max-height: 5.625rem;
        padding: 0.625rem;
        position: sticky;
        position: -webkit-sticky;
        top: 3.438rem;
        z-index: 3;

        .page-actions {
            display: flex;
            justify-content: space-between;
        }
    }

    .paging {
        margin: auto 0.5rem 0 0.5rem;
    }

    .p-1 {
        padding-right: 1em;

        :last-child {
            padding-right: 0;
        }
    }
}
