<div
    *ngIf="vrtEvent && user"
    class="event-card"
    [style.--grad-color]="venues | getVenueColor: vrtEvent.venueId">
    <mat-card
        appearance="outlined"
        class="event-card-border">
        <mat-card-header class="card-header">
            <div
                class="card-header-image"
                mat-card-avatar>
                <vrt-registration-quick-menu
                    [user]="user"
                    [vrtEvent]="vrtEvent"
                    (downloadLog)="onDownloadEventLog($event)"
                    (registerToEvent)="onRegister($event)"
                    (unregisterFromEvent)="onUnregister($event)"></vrt-registration-quick-menu>
            </div>
            <mat-card-title>
                <div class="event-date">
                    <div>
                        <p>{{ vrtEvent.date | date: 'dd' }}</p>
                        <p>{{ vrtEvent.date | date: 'MMM' }}</p>
                    </div>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <div class="lt-no-margin">
                <p class="lt-no-margin mat-h3">
                    {{ vrtEvent.name }}
                </p>
                <mat-card-subtitle class="place">
                    <mat-icon>place</mat-icon>
                    <p
                        class="lt-no-margin"
                        id="venue-address">
                        {{ vrtEvent.venueAddress }}
                    </p>
                </mat-card-subtitle>
            </div>
            <p id="description-text">{{ vrtEvent.description }}</p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <div class="capacity">
                <p class="lt-full-width">
                    {{
                        'events.label_participants_count'
                            | transloco
                                : {
                                      regCount: vrtEvent.registrationCount,
                                      capacity: vrtEvent.capacity
                                  }
                    }}
                </p>
            </div>
            <div class="button-group">
                <ng-container *vrtHasPermission="['user']">
                    <button
                        data-testid="info-button"
                        mat-mini-fab
                        [queryParams]="{ id: vrtEvent.id, past: isEventInPast }"
                        [routerLink]="['/events/detail']">
                        <mat-icon>event_note</mat-icon>
                    </button>
                </ng-container>

                <ng-container *vrtHasPermission="['admin', 'manager']">
                    <button
                        aria-label="Card menu button"
                        color="accent"
                        data-testid="card-menu"
                        mat-icon-button
                        [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button
                            data-testid="info-button"
                            mat-menu-item
                            [queryParams]="{ id: vrtEvent.id, past: isEventInPast }"
                            [routerLink]="['/events/detail']">
                            <mat-icon color="accent">event_note</mat-icon>
                            <span>{{ 'buttons.details' | transloco }}</span>
                        </button>

                        <button
                            *ngIf="!(vrtEvent | isEventInPast)"
                            data-testid="edit-btn"
                            mat-menu-item
                            [routerLink]="['/events/edit', vrtEvent.id]">
                            <mat-icon color="accent">mode_edit_outline</mat-icon>
                            <span>{{ 'buttons.edit' | transloco }}</span>
                        </button>
                        <button
                            *vrtHasPermission="['admin']"
                            data-testid="save-btn"
                            mat-menu-item
                            (click)="onDownloadEventLog(vrtEvent)">
                            <mat-icon color="accent">save_as</mat-icon>
                            <span>{{ 'events.link_download_log' | transloco }}</span>
                        </button>
                        <button
                            data-testid="delete-btn"
                            mat-menu-item
                            (click)="onDeleteEvent(vrtEvent)">
                            <mat-icon color="warn">delete_outline</mat-icon>
                            <span>{{ 'buttons.delete' | transloco }}</span>
                        </button>
                    </mat-menu>
                </ng-container>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
