<mat-dialog-content *ngIf="venue$ | async as venue">
    <div>
        <mat-card-title>{{ venue.name }}</mat-card-title>
        <mat-card-subtitle class="place">
            <mat-icon>place</mat-icon>
            {{ venue.address }}
        </mat-card-subtitle>
    </div>
    <div>
        <div>
            <p class="label">{{ 'venues.label_capacity' | transloco | titlecase }}</p>
            <p>{{ venue.capacity }}</p>
        </div>
    </div>
    <div>
        <button
            color="accent"
            mat-button
            mat-dialog-close>
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </div>
</mat-dialog-content>
