:root {
    --grad-color: #ffffff;
}

::ng-deep {
    .mat-card-header-text {
        margin: 0 !important;
    }

    .mat-card {
        min-height: 86%;
    }
}

.add-button {
    color: #4caf50;
}

.dl-log-button {
    span {
        font-size: 0.8rem;
        text-decoration: underline;
    }
}

.admin-panel {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}

.card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    ::ng-deep {
        .mat-card-avatar {
            width: 50%;
        }
    }

    .card-header-image {
        .mat-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.capacity {
    align-items: center;
    display: flex;

    p {
        margin: 0;
    }
}

.create-event-button {
    margin-left: auto;
}

.event-cards {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 0.1fr));
    padding: 1rem;
    place-content: center;

    @media screen and (max-width: 48rem) {
        justify-content: center;
    }
}

.event-card {
    &::before {
        background-image: linear-gradient(100deg, var(--grad-color) 10%, #b7da28 100%);
        border-radius: 0.938rem;
        bottom: 4.375rem;
        box-shadow: 0.125rem 0 1.25rem rgba(0, 0, 0, 0.1);
        content: '';
        left: -1.563rem;
        margin: 1rem;
        position: absolute;
        right: 2.188px;
        top: -2.1rem;
    }

    p,
    .card-context {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    #venue-address {
        @extend .card-context;
        -webkit-line-clamp: 1;
        max-width: 18rem;
    }

    #description-text {
        max-height: 5rem;
        min-height: 5rem;
    }
}

.event-card-block-main {
    padding: 0 0 1.25rem;
    position: relative;
    z-index: 2;
}

.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem !important;

    .button-group {
        display: flex;
    }
}

.event-card-border {
    border-radius: 0.938rem;
}

.event-date {
    align-content: center;
    background-color: var(--grey);
    border-radius: 0.313rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.65em;
    height: 3.125rem;
    justify-content: center;
    width: 3.125rem;

    p {
        color: #000000;
        margin: 0;
        text-align: center;
        word-break: break-all;
    }
}

.red {
    color: var(--error-red);
}

.loading-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-info {
    margin-bottom: 0.625rem;
    max-height: 5.625rem;
    padding: 0.625rem;
    position: sticky;
    position: -webkit-sticky;
    top: 3.438rem;
    z-index: 1;

    .page-actions {
        display: flex;
        justify-content: space-between;
    }
}

.paging {
    margin-top: auto;
}

.place {
    align-items: center;
    display: flex;
    flex-direction: row;

    .material-icons {
        font-size: 1em;
        height: auto;
        margin-right: 0.313rem;
        width: auto;
    }
}

#icon-block {
    &:hover {
        cursor: no-drop;
    }
}

@media (max-width: 832px) {
    .event-card {
        p,
        .card-context {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        #description-text {
            max-height: none;
            min-height: auto;
        }
    }
}
