:host {
    input#event-time {
        display: inline-block;
        position: relative;
    }

    input[type='time']::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    .button-date-time {
        margin-bottom: 1rem;
        width: 100%;
    }

    .margin-bottom-15 {
        margin-bottom: 0.938rem;
    }

    .col {
        flex: 1;
        margin: 0 0.5rem 0 0.5rem;
    }

    .event-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .event-checkbox {
        margin-bottom: 0.625rem;
    }

    .hide-form {
        height: 0;
        visibility: hidden !important;
        width: 0;
    }

    .illustation-image {
        display: flex;
        justify-content: center;

        img {
            max-width: 45%;
        }
    }

    .info-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        &--summary {
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 1.2rem;
        }

        &--element {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .text {
            font-size: 0.8rem;
            max-width: 14rem;
            text-align: center;
        }

        .text-bold {
            font-weight: 600;
        }

        .topic {
            font-size: 1rem;
            font-weight: 600;
            max-width: 14rem;
            text-align: center;
        }
    }

    .button-stepper-group {
        display: flex;
        justify-content: space-between;
    }

    .margin-left-1 {
        margin-left: 1rem;
        text-align: end;
    }

    #description {
        height: 100%;
        width: 100%;
    }

    #venue-selection {
        &:hover {
            cursor: pointer;
        }
    }
}
