<div
    *ngIf="eventForm"
    class="event-form">
    <form
        class="lt-mat-form-wrapper"
        [formGroup]="eventForm">
        <mat-stepper
            #stepper
            color="accent"
            linear
            [labelPosition]="'bottom'">
            <!-- First stepper -->
            <mat-step
                [label]="'events.title' | transloco"
                [stepControl]="$any(eventForm.get('name'))">
                <div class="illustation-image">
                    <img
                        alt="Calendar"
                        src="./assets/images/illustation/55.svg"
                        srcset="" />
                </div>
                <div class="info-text">
                    <p
                        *ngIf="eventForm.get('name')?.invalid"
                        class="topic">
                        {{ 'events.create_info_title' | transloco }}
                    </p>

                    <p
                        *ngIf="eventForm.get('name')?.valid ?? eventForm.get('date')?.invalid"
                        class="topic">
                        {{ 'events.create_info_date' | transloco }}
                    </p>
                </div>
                <p></p>
                <div class="col">
                    <mat-form-field
                        appearance="outline"
                        class="lt-full-width">
                        <mat-label>
                            {{ 'events.label_name' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="name"
                            formControlName="name"
                            matInput
                            placeholder="{{ 'events.hint_name' | transloco }}" />
                        <mat-error *ngIf="eventForm.controls['name']?.hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div
                    *ngIf="(eventForm.get('date')?.valid && eventForm.get('date')?.touched) || eventForm.get('id')?.value"
                    @fadeSlideInOut
                    class="col">
                    <mat-form-field class="lt-full-width">
                        <mat-label>
                            {{ 'events.label_time' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="event-time"
                            formControlName="time"
                            id="event-time"
                            matInput
                            placeholder="{{ 'events.hint_time' | transloco }}"
                            type="time"
                            (change)="onChangeTime()" />
                    </mat-form-field>
                </div>
                <div
                    *ngIf="eventForm.get('name')?.valid"
                    @fadeSlideInOut
                    class="col">
                    <mat-form-field class="hide-form">
                        <mat-label>
                            {{ 'events.label_date' | transloco | titlecase }}
                        </mat-label>
                        <input
                            formControlName="date"
                            matInput
                            placeholder="{{ 'events.hint_date' | transloco }}"
                            [matDatepicker]="picker" />
                        <mat-error *ngIf="eventForm.controls['date']?.hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <button
                        class="button-date-time"
                        color="accent"
                        data-testid="date-btn"
                        mat-raised-button
                        (click)="picker.open()">
                        {{ eventForm.get('date')?.value | date: 'shortDate' }}
                    </button>
                </div>
                <div
                    class="button-stepper-group"
                    data-testid="stepper-buttons-1">
                    <button
                        mat-button
                        routerLink="/events"
                        type="button"
                        (click)="stepper.reset()">
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        mat-button
                        matStepperNext
                        [disabled]="!((eventForm.get('name')?.valid && eventForm.get('date')?.touched) || eventForm.get('id')?.value)">
                        {{ 'buttons.next' | transloco }}
                    </button>
                </div>
            </mat-step>

            <!-- Second stepper -->
            <mat-step
                [label]="'venues.th_name' | transloco"
                [stepControl]="$any(eventForm.get('capacity'))">
                <ng-container *ngIf="venues">
                    <div class="illustation-image">
                        <img
                            alt="Calendar"
                            src="./assets/images/illustation/23.svg"
                            srcset="" />
                    </div>
                    <div class="info-text">
                        <p class="topic">{{ 'events.venue_place' | transloco }}</p>
                    </div>
                    <div class="col">
                        <mat-form-field
                            appearance="outline"
                            class="lt-full-width"
                            id="venue-selection">
                            <mat-label>{{ 'events.label_venue' | transloco }}</mat-label>
                            <input
                                data-testid="venue"
                                formControlName="venueId"
                                matInput
                                type="text"
                                [matAutocomplete]="auto" />
                        </mat-form-field>
                    </div>
                    <mat-autocomplete
                        #auto="matAutocomplete"
                        [displayWith]="displayFn.bind(this)"
                        (optionSelected)="selectedVenue($event.option.value)">
                        <mat-option
                            *ngFor="let venue of venues; index as i; trackBy: trackByFn"
                            [attr.data-testid]="'venueOption-' + i"
                            [value]="venue">
                            {{ venue.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <div
                        *ngIf="eventForm.get('venueId')?.touched || eventForm.get('venueId')?.value"
                        @fadeSlideInOut
                        class="col">
                        <mat-form-field
                            appearance="outline"
                            class="lt-full-width">
                            <mat-label>
                                {{ 'events.label_max_participants' | transloco }}
                            </mat-label>
                            <input
                                data-testid="capacity"
                                formControlName="capacity"
                                matInput
                                placeholder="20"
                                type="number" />
                            <mat-error *ngIf="eventForm.controls['capacity']?.hasError('required')">
                                <strong>{{ 'validation.field_required' | transloco }}</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="eventForm.controls['capacity']?.hasError('min')"
                                style="margin-bottom: 0.313rem">
                                <strong>
                                    {{ 'validation.positive_value_required' | transloco }}
                                </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <div
                    class="button-stepper-group"
                    data-testid="stepper-buttons-2">
                    <button
                        mat-button
                        routerLink="/events"
                        type="button"
                        (click)="stepper.reset()">
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </button>

                    <div>
                        <button
                            mat-button
                            matStepperPrevious>
                            {{ 'buttons.back' | transloco }}
                        </button>
                        <button
                            color="accent"
                            mat-button
                            matStepperNext
                            [disabled]="!eventForm.get('capacity')?.valid">
                            {{ 'buttons.next' | transloco }}
                        </button>
                    </div>
                </div>
            </mat-step>

            <mat-step [label]="'events.summary' | transloco">
                <div class="illustation-image summary-img">
                    <img
                        alt="Calendar"
                        src="./assets/images/illustation/Texting-60b6.svg"
                        srcset="" />
                </div>
                <div class="info-text">
                    <p class="info-text--summary">{{ 'events.summary_text' | transloco }}</p>
                    <div class="info-text--element">
                        <p>
                            {{ 'events.event_info' | transloco }}
                        </p>

                        <p></p>
                        <p class="info-text text-bold margin-left-1">
                            {{ eventForm.get('name')?.value }}
                        </p>
                    </div>
                    <div class="info-text--element">
                        <p>
                            {{ 'events.venue_info' | transloco }}
                        </p>
                        <p class="info-text text-bold margin-left-1">
                            {{ displayFn(eventForm.get('venueId')?.value) }} - {{ 'venues.th_capacity' | transloco }}:
                            {{ eventForm.get('capacity')?.value }}
                        </p>
                    </div>
                    <div class="info-text--element">
                        <p>{{ 'events.date_info' | transloco }}</p>
                        <p class="info-text text-bold margin-left-1">
                            {{ eventForm.get('date')?.value | date: 'short' }}
                        </p>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field
                        class="lt-full-width"
                        id="description">
                        <mat-label>
                            {{ 'events.label_description' | transloco | titlecase }}
                        </mat-label>
                        <textarea
                            #descriptionInput
                            cdkAutosizeMaxRows="5"
                            cdkAutosizeMinRows="1"
                            cdkTextareaAutosize
                            data-testid="description"
                            formControlName="description"
                            matInput
                            placeholder="{{ 'events.resume' | transloco }}"></textarea>
                        <mat-error style="margin-bottom: 0.313rem">
                            <strong>
                                {{ 'validation.maximum_character_limit' | transloco: { value: 256 } }}
                            </strong>
                        </mat-error>
                    </mat-form-field>
                    <small class="margin-bottom-15"> {{ descriptionInput.value.length }} / 256 </small>
                </div>
                <div class="event-checkbox col">
                    <mat-label>{{ 'events.label_set_active' | transloco }}</mat-label>
                    <br />
                    <mat-checkbox
                        data-testid="isOpenForRegistration"
                        formControlName="isOpenForRegistration"></mat-checkbox>
                </div>
                <div
                    class="button-stepper-group"
                    data-testid="stepper-buttons-3">
                    <button
                        mat-button
                        routerLink="/events"
                        type="button"
                        (click)="stepper.reset()">
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </button>
                    <div>
                        <button
                            mat-button
                            matStepperPrevious>
                            {{ 'buttons.back' | transloco }}
                        </button>
                        <button
                            color="accent"
                            data-testid="submit"
                            mat-stroked-button
                            type="button"
                            [disabled]="!eventForm.valid"
                            (click)="onSubmit()">
                            {{ 'buttons.submit_msg' | transloco }}
                        </button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
</div>
