<div [class.flex-center]="!isSmallDevice">
    <div
        class="mat-app-background"
        [class.width-50]="!isSmallDevice">
        <p class="flex-center lt-margin-top-1 mat-headline-5">Backend</p>
        <ng-container *ngIf="backendLicenses$ | async as backendLicenses">
            <ng-container *ngFor="let license of backendLicenses">
                <div class="lt-margin-top-1">
                    <vrt-license-card [license]="license"></vrt-license-card>
                </div>
            </ng-container>
        </ng-container>

        <p class="flex-center lt-margin-top-1 mat-headline-5">Frontend</p>
        <ng-container *ngIf="frontendLicenses$ | async as frontendLicenses">
            <ng-container *ngFor="let license of frontendLicenses">
                <div class="lt-margin-top-1">
                    <vrt-license-card [license]="license"></vrt-license-card>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
