:host {
    display: flex;
    height: 100%;
    justify-content: center;
}

.mat-form-field {
    min-width: 18.75rem;
    width: 100%;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    background-color: red;
    color: white;
    padding: 1rem;
    width: 18.75rem;
}

.button__group {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    margin-top: 2rem;
}

.title {
    padding: 1rem;
}

.login-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
