:host {
    .main-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    .user-view-container {
        display: block;
        height: 100%;
        overflow: auto;
        position: relative;
        z-index: 1;
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    .main-content {
        height: calc(100% - 64px);
    }

    .mat-toolbar {
        &.mat-primary {
            position: sticky;
            top: 0;
            z-index: 3;
        }
    }

    .profile-btn {
        margin-left: auto;
    }

    .sidenav-list {
        display: flex;
        flex-direction: column;

        button {
            align-items: center;
            justify-content: flex-start;
            display: flex;
            height: clamp(2rem, 4rem, 5rem);
            width: 100%;
        }
    }

    .sidenav-container {
        height: 100%;
    }

    .sidenav {
        width: 13.5rem;

        .mat-toolbar {
            background: inherit;
        }
    }

    .toolbar,
    .user-toolbar {
        display: flex;
        justify-content: space-between;
    }

    .user-toolbar {
        padding: 0;
    }

    .user-control-area {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .end-element {
        justify-content: flex-end;
    }
}
