<ng-container *ngIf="user$ | async as user">
    <div class="main-container mat-app-background">
        <mat-sidenav-container
            *vrtHasPermission="['admin', 'manager']"
            class="sidenav-container mat-app-background"
            [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
            <mat-sidenav
                #drawer
                class="sidenav"
                data-testid="sidenav"
                fixedInViewport
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [ngClass]="{ 'sidebar-light': !isDarkThemeSelected }"
                [opened]="(isHandset$ | async) === false">
                <mat-nav-list class="sidenav-list">
                    <button
                        color="accent"
                        mat-button
                        routerLink="/events">
                        <mat-icon>event</mat-icon>
                        {{ 'navigation.events' | transloco | titlecase }}
                    </button>
                    <button
                        *vrtHasPermission="['admin', 'manager']"
                        color="accent"
                        mat-button
                        routerLink="/venues">
                        <mat-icon>house</mat-icon>
                        {{ 'navigation.venues' | transloco }}
                    </button>
                    <button
                        *vrtHasPermission="['admin']"
                        color="accent"
                        data-testid="users"
                        mat-button
                        routerLink="/admin/users/1">
                        <mat-icon>manage_accounts</mat-icon>
                        {{ 'navigation.members' | transloco }}
                    </button>
                    <button
                        *vrtHasPermission="['admin']"
                        color="accent"
                        data-testid="admin-audit-link"
                        mat-button
                        routerLink="/admin/audit">
                        <mat-icon>subject</mat-icon>
                        {{ 'navigation.admin_logs' | transloco }}
                    </button>
                    <button
                        *vrtHasPermission="['admin']"
                        color="accent"
                        data-testid="admin-registration-link"
                        mat-button
                        routerLink="/admin/user-registration">
                        <mat-icon>manage_accounts</mat-icon>
                        {{ 'navigation.user_registrations' | transloco }}
                    </button>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <mat-toolbar
                    class="toolbar"
                    color="primary"
                    data-testid="toolbar"
                    [ngClass]="(isHandset$ | async) === false ? 'end-element' : ''">
                    <button
                        *ngIf="isHandset$ | async"
                        aria-label="Toggle sidenav"
                        data-testid="hamburger-menu"
                        mat-icon-button
                        type="button"
                        (click)="drawer.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <div class="user-control-area">
                        <button
                            color="accent"
                            mat-icon-button
                            (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <div class="profile-btn">
                            <button
                                mat-button
                                [matMenuTriggerFor]="menu">
                                {{ user.displayName }}
                            </button>
                            <mat-menu
                                #menu="matMenu"
                                xPosition="before">
                                <button
                                    mat-menu-item
                                    routerLink="/user/">
                                    <mat-icon aria-label="Switch theme">person</mat-icon>
                                    {{ 'navigation.my_profile' | transloco | titlecase }}
                                </button>
                                <button
                                    mat-menu-item
                                    type="button"
                                    (click)="switchTheme()">
                                    <ng-container *ngIf="isDarkThemeSelected; else sun">
                                        <mat-icon aria-label="Switch theme">brightness_5</mat-icon>
                                        Light Mode
                                    </ng-container>
                                    <ng-template #sun>
                                        <mat-icon aria-label="Switch theme">bedtime</mat-icon>
                                        Dark Mode
                                    </ng-template>
                                </button>

                                <ng-container *ngIf="language$ | async as lang">
                                    <button
                                        *ngIf="lang === 'de'"
                                        mat-menu-item
                                        type="button"
                                        (click)="switchLang('en')">
                                        <mat-icon aria-label="Switch theme">language</mat-icon>
                                        {{ 'languages.en' | transloco }}
                                    </button>

                                    <button
                                        *ngIf="lang === 'en'"
                                        mat-menu-item
                                        type="button"
                                        (click)="switchLang('de')">
                                        <mat-icon aria-label="Switch theme">language</mat-icon>
                                        {{ 'languages.de' | transloco }}
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="isLoggedIn$ | async">
                                    <button
                                        mat-menu-item
                                        (click)="logout()">
                                        <mat-icon>logout</mat-icon>
                                        {{ 'buttons.logout' | transloco }}
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </div>
                    </div>
                </mat-toolbar>
                <!-- Add Content Here -->
                <div class="main-content">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>

        <ng-container *vrtHasPermission="['user']">
            <div
                class="user-view-container mat-app-background"
                [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
                <div class="mat-drawer-container">
                    <mat-toolbar
                        class="user-toolbar"
                        color="primary">
                        <button
                            mat-button
                            routerLink="/events">
                            {{ 'navigation.events' | transloco | titlecase }}
                        </button>
                        <div class="user-control-area">
                            <button
                                mat-mini-fab
                                (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <div class="profile-btn">
                                <button
                                    data-testid="user-menu-button"
                                    mat-button
                                    [matMenuTriggerFor]="menu">
                                    {{ user.displayName }}
                                </button>
                                <mat-menu
                                    #menu="matMenu"
                                    xPosition="before">
                                    <button
                                        data-testid="profile-button"
                                        mat-menu-item
                                        routerLink="/user/">
                                        <mat-icon aria-label="Switch theme">person</mat-icon>
                                        {{ 'navigation.my_profile' | transloco | titlecase }}
                                    </button>
                                    <button
                                        data-testid="theme-button"
                                        mat-menu-item
                                        type="button"
                                        (click)="switchTheme()">
                                        <ng-container *ngIf="isDarkThemeSelected; else sun">
                                            <mat-icon aria-label="Switch theme"> brightness_5</mat-icon>
                                            Light Mode
                                        </ng-container>
                                        <ng-template #sun>
                                            <mat-icon aria-label="Switch theme">bedtime</mat-icon>
                                            Dark Mode
                                        </ng-template>
                                    </button>

                                    <ng-container *ngIf="language$ | async as lang">
                                        <button
                                            *ngIf="lang === 'de'"
                                            mat-menu-item
                                            type="button"
                                            (click)="switchLang('en')">
                                            <mat-icon aria-label="Switch theme">language</mat-icon>
                                            {{ 'languages.en' | transloco }}
                                        </button>

                                        <button
                                            *ngIf="lang === 'en'"
                                            mat-menu-item
                                            type="button"
                                            (click)="switchLang('de')">
                                            <mat-icon aria-label="Switch theme">language</mat-icon>
                                            {{ 'languages.de' | transloco }}
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="isLoggedIn$ | async">
                                        <button
                                            data-testid="logout-button"
                                            mat-menu-item
                                            (click)="logout()">
                                            <mat-icon>logout</mat-icon>
                                            {{ 'buttons.logout' | transloco }}
                                        </button>
                                    </ng-container>
                                </mat-menu>
                            </div>
                        </div>
                    </mat-toolbar>
                    <!-- Add Content Here -->
                    <div class="main-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </ng-container>
        <vrt-footer [isDarkThemeSelected]="isDarkThemeSelected"></vrt-footer>
    </div>
</ng-container>
<vrt-loading-indicator></vrt-loading-indicator>
