<div
    class="confirm-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }"
    [ngStyle]="!isDarkThemeSelected ? { 'background-color': '#fff' } : {}">
    <img
        alt=""
        src="./assets/images/undraw_Cloud_sync_re_02p1.svg" />
    <h2>{{ 'auth.label_registration_successful' | transloco }}</h2>
    <p>{{ 'auth.label_registration_successful2' | transloco }}.</p>
    <div class="lt-button-footer-group">
        <button
            color="accent"
            data-testid="back-btn"
            mat-button
            routerLink="/auth/login">
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </div>
</div>
