.confirm-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: center;
    padding: 1rem;

    img {
        height: 30%;
        justify-content: center;
        width: 50%;
    }

    p {
        text-align: center;
    }
}
