<ng-container *ngIf="passwordGroup">
    <form [formGroup]="passwordGroup">
        <div>
            <mat-form-field
                appearance="outline"
                class="lt-full-width"
                color="accent">
                <mat-label>
                    {{ 'auth.label_password' | transloco | titlecase }}
                </mat-label>
                <input
                    data-testid="password"
                    formControlName="password"
                    matInput
                    placeholder="{{ 'auth.label_password' | transloco | titlecase }}"
                    [type]="hide ? 'password' : 'text'" />
                <mat-error *ngIf="passwordGroup.controls['password'].hasError('required')">
                    <strong>{{ 'validation.field_required' | transloco }}</strong>
                </mat-error>

                <mat-error
                    *ngIf="passwordGroup.controls['password'].hasError('minlength')"
                    style="margin-bottom: 0.313rem">
                    <strong>
                        {{ 'validation.minimum_length_required' | transloco: { value: 8 } }}
                    </strong>
                </mat-error>
                <a
                    mat-icon-button
                    matSuffix
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </a>
            </mat-form-field>
            <vrt-white-space *ngIf="password$ | async"></vrt-white-space>
        </div>
        <div>
            <mat-form-field
                appearance="outline"
                class="lt-full-width"
                color="accent">
                <mat-label>
                    {{ 'auth.label_repeat_password' | transloco | titlecase }}
                </mat-label>
                <input
                    data-testid="confirm_password"
                    formControlName="confirmPassword"
                    matInput
                    placeholder="{{ 'auth.label_password' | transloco | titlecase }}"
                    [type]="hide ? 'password' : 'text'" />
                <mat-error *ngIf="passwordGroup.controls['confirmPassword'].hasError('required')">
                    <strong>{{ 'validation.field_required' | transloco }}</strong>
                </mat-error>
                <mat-error
                    *ngIf="passwordGroup.controls['confirmPassword'].hasError('minlength')"
                    style="margin-bottom: 0.313rem">
                    <strong>
                        {{ 'validation.minimum_length_required' | transloco: { value: 8 } }}
                    </strong>
                </mat-error>

                <mat-error *ngIf="passwordGroup.controls['confirmPassword'].hasError('confirmedValidator')">
                    <strong>{{ 'validation.passwords_mismatch' | transloco }}</strong>
                </mat-error>
                <a
                    mat-icon-button
                    matSuffix
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </a>
            </mat-form-field>
            <vrt-white-space *ngIf="confirm$ | async"></vrt-white-space>
        </div>
    </form>
</ng-container>
