.urv-wrapper {
    padding: 0 1rem;

    .user-search {
        width: 10rem;
    }

    @media screen and (max-width: 37.5rem) {
        padding: 0 0.5rem;

        .user-search {
            width: 14rem;
        }
    }
}
