<div class="urv-wrapper">
    <div
        *ngIf="isUserSearchVisible"
        class="user-search">
        <vrt-user-search
            [appearance]="'fill'"
            [users]="users$ | async"
            (searchTerm)="onUserSearch($event)"
            (user)="onUserSelectChanged($event.id)"></vrt-user-search>
    </div>
</div>
<vrt-user-registration-table
    [isUserSearchVisible]="isUserSearchVisible"
    [metadata$]="userRegistrationsMetadata$"
    [showSearchInput]="!isUserSearchVisible"
    [userRegistrations]="userRegistrations$ | async"
    (pagingChange)="onPagingChange($event)"
    (registration)="onShowRegistrationDetails($event)"
    (searchTerm)="onQueryChange($event)"
    (showUserSearch)="onShowUserSearch($event)"
    (sortRegistrationData)="onSortRegistrationData($event)"></vrt-user-registration-table>
