<ng-container *ngIf="userRegistrations">
    <div class="form-wrapper">
        <div class="search-wrapper">
            <button
                mat-icon-button
                (click)="onShowUserSearch()">
                <mat-icon>person_search</mat-icon>
            </button>
            <mat-form-field
                *ngIf="showSearchInput"
                class="urt-search-input">
                <mat-label>
                    {{ 'admin.label_search' | transloco | titlecase }}
                </mat-label>
                <input
                    aria-label="State"
                    matInput
                    [formControl]="search" />
            </mat-form-field>
        </div>
    </div>
    <table
        @fadeSlideInOut
        mat-table
        matSort
        [dataSource]="userRegistrations"
        (matSortChange)="sortData($event)">
        <ng-container matColumnDef="UserDisplayName">
            <th
                *matHeaderCellDef
                class="first-column"
                mat-header-cell
                [hidden]="isMobile">
                {{ 'registration table.userDisplayName' | transloco }}
            </th>
            <td
                *matCellDef="let element"
                class="first-column"
                mat-cell
                [hidden]="isMobile">
                {{ element.userDisplayName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="EventName">
            <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header>
                {{ 'registration table.eventName' | transloco }}
            </th>
            <td
                *matCellDef="let element"
                mat-cell>
                {{ element.eventName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="EventDate">
            <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header>
                {{ 'registration table.eventDate' | transloco }}
            </th>
            <td
                *matCellDef="let element"
                mat-cell>
                {{ element.eventDate | date }}
            </td>
        </ng-container>

        <ng-container matColumnDef="RegistrationDate">
            <th
                *matHeaderCellDef
                class="reg-date"
                mat-header-cell
                mat-sort-header>
                {{ 'registration table.registrationDate' | transloco }}
            </th>
            <td
                *matCellDef="let element"
                class="reg-date"
                mat-cell>
                {{ element.registrationDate | date }}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Status">
            <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                [hidden]="isMobile">
                {{ 'registration table.status' | transloco }}
            </th>
            <td
                *matCellDef="let element"
                mat-cell
                [hidden]="isMobile">
                {{ element.status | getRegistrationStatusName | transloco }}
            </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th
                *matHeaderCellDef
                class="actions"
                mat-header-cell></th>
            <td
                *matCellDef="let element"
                class="actions"
                mat-cell>
                <div class="action-buttons">
                    <button
                        *ngIf="isMobile"
                        mat-menu-item
                        (click)="onShowRegistrationDetails(element)">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr
            *matHeaderRowDef="columns"
            mat-header-row></tr>
        <tr
            *matRowDef="let row; columns: columns"
            mat-row></tr>
    </table>
    <vrt-paging
        [metadata$]="metadata$"
        (changePage)="onChangePage($event)"></vrt-paging>
</ng-container>

<ng-container *ngIf="isHandset$ | async"></ng-container>
<ng-container *ngIf="searchResult$ | async"></ng-container>
