:host {
    table {
        width: 100%;
    }

    .actions {
        max-width: 6rem;
        padding-right: 0;

        .action-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            button.mat-mdc-menu-item {
                width: auto;
            }
        }
    }

    .form-wrapper {
        padding: 0 1rem;
        width: 97%;

        .search-wrapper {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            padding: 0 0.8rem 1rem 0;
            width: 100%;
        }

        .urt-search-input {
            width: 10rem;
        }
    }

    @media screen and (max-width: 37.5rem) {
        .form-wrapper {
            justify-content: start;
            width: 14rem;
        }
        table {
            padding: 0.2rem;
        }

        .reg-date {
            text-align: end;
        }
    }
}
