<div class="lt-display-flex-center lt-margin-top-1 profile-wrapper">
    <mat-card
        *ngIf="user$ | async as user"
        appearance="outlined"
        class="form-wrapper lt-mat-form-wrapper card">
        <mat-card-content>
            <div class="info">
                <p class="label">
                    {{ 'user-profile.label_username' | transloco | titlecase }}
                </p>
                <p class="info-text">{{ user.username }}</p>
            </div>
            <div class="info-group">
                <div class="info">
                    <p class="label">
                        {{ 'user-profile.label_display_name' | transloco | titlecase }}
                    </p>
                    <p class="info-text">{{ user.displayName }}</p>
                </div>
                <button
                    *ngIf="permission === 'granted' || permission === 'denied'"
                    mat-mini-fab
                    [disabled]="permission === 'denied'">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button
                    *ngIf="permission === 'default'"
                    mat-mini-fab
                    (click)="onSubscribeToNotifications()">
                    <mat-icon>notifications_off</mat-icon>
                </button>
            </div>

            <div
                *ngIf="user.email"
                class="info">
                <p class="label">
                    {{ 'user-profile.label_email_address' | transloco | titlecase }}
                </p>
                <p class="info-text">{{ user.email }}</p>
            </div>

            <div class="info">
                <p class="label">
                    {{ 'user-profile.label_registration_date' | transloco }}
                </p>
                <p class="info-text">{{ user.created | date }}</p>
            </div>
            <button
                color="warn"
                mat-button
                type="button"
                (click)="deleteAccount()">
                <mat-icon>delete_outline</mat-icon>
                {{ 'user-profile.button_delete' | transloco }}
            </button>
        </mat-card-content>
        <mat-card-actions>
            <div class="btn-wrapper">
                <button
                    color="accent"
                    mat-button
                    routerLink="/user/password"
                    type="button">
                    <mat-icon>password</mat-icon>
                    {{ 'user-profile.button_change_password' | transloco }}
                </button>
                <button
                    color="accent"
                    mat-button
                    routerLink="/user/edit"
                    type="button">
                    <mat-icon>mode_edit_outline</mat-icon>
                    {{ 'user-profile.button_edit_profile' | transloco }}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
