.btn-wrapper {
    margin-top: 1.2rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7rem;
}

.info {
    .label {
        color: #808080;
        font-size: 0.8rem;
        margin: 0.938rem 0 0 0;
    }
}

.info-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-btn {
    margin-top: 1.2rem;
    width: 30%;
}

.profile-wrapper {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
