<ng-container *ngIf="data$ | async as data">
    <div class="lt-display-flex-center lt-margin-top-1 reg-wrapper">
        <mat-card
            appearance="outlined"
            class="lt-mat-form-wrapper">
            <mat-card-header>
                <div class="search">
                    <mat-form-field
                        appearance="outline"
                        [class.full-width]="data.isHandset">
                        <input
                            aria-label="State"
                            data-testid="search"
                            matInput
                            placeholder="Max Mustermann"
                            [formControl]="searchForm" />
                    </mat-form-field>

                    <div
                        *ngIf="isUserSearchActive"
                        @fadeSlideInOut
                        class="user-search-wrapper">
                        <vrt-user-search
                            [isLoading]="isLoading$ | async"
                            [users]="data.users"
                            (searchTerm)="onUserSearch($event)"
                            (user)="onUserSelectChanged($event)"></vrt-user-search>
                        <button
                            *ngIf="selectedUser"
                            color="accent"
                            mat-icon-button
                            (click)="addUserToEvent()">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button
                            color="accent"
                            mat-icon-button
                            (click)="onShowUserSearch(false)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="reg-header">
                    <ng-container *ngIf="data.vrtEvent">
                        <vrt-registration-quick-menu
                            [user]="currentUser"
                            [vrtEvent]="data.vrtEvent"
                            (registerToEvent)="onRegister($event)"
                            (unregisterFromEvent)="onUnregister($event)"></vrt-registration-quick-menu>
                    </ng-container>

                    <ng-container *ngIf="data.vrtEvent && data.vrtEvent | isEventInPast">
                        <div *vrtHasPermission="['admin']">
                            <button
                                color="accent"
                                mat-icon-button
                                (click)="onShowUserSearch(true)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </ng-container>

                    <div id="sortBtn">
                        <button
                            color="accent"
                            data-testid="sort-button"
                            mat-icon-button
                            [matMenuTriggerFor]="menu">
                            <mat-icon>sort</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            @if (sortOrderIcon('UserDisplayName') === 'asc') {
                                <button
                                    data-testid="username-button"
                                    mat-menu-item
                                    (click)="toggleSortOrder('UserDisplayName')">
                                    <mat-icon>expand_less</mat-icon>

                                    <span>
                                        {{ 'events.button_filter_participant' | transloco | titlecase }}
                                    </span>
                                </button>
                            } @else {
                                <button
                                    data-testid="username-button"
                                    mat-menu-item
                                    (click)="toggleSortOrder('UserDisplayName')">
                                    <mat-icon>expand_more</mat-icon>
                                    <span>
                                        {{ 'events.button_filter_participant' | transloco | titlecase }}
                                    </span>
                                </button>
                            }

                            @if (sortOrderIcon('RegistrationDate') === 'asc') {
                                <button
                                    data-testid="date-button"
                                    mat-menu-item
                                    (click)="toggleSortOrder('RegistrationDate')">
                                    <mat-icon>expand_less</mat-icon>

                                    <span>
                                        {{ 'events.button_filter_registration_date' | transloco | titlecase }}
                                    </span>
                                </button>
                            } @else {
                                <button
                                    data-testid="date-button"
                                    mat-menu-item
                                    (click)="toggleSortOrder('RegistrationDate')">
                                    <mat-icon>expand_more</mat-icon>

                                    <span>
                                        {{ 'events.button_filter_registration_date' | transloco | titlecase }}
                                    </span>
                                </button>
                            }
                        </mat-menu>
                    </div>
                </div>
                <div class="recipient-header">
                    <p>{{ 'events.th_particpant' | transloco }}</p>
                    <p>{{ 'events.th_registration_date' | transloco }}</p>
                </div>
                <ng-container *ngFor="let registration of data.registrations">
                    <ng-container [ngSwitch]="registration.status">
                        <div class="admin-user-panel recipient-header">
                            <p
                                *ngSwitchCase="1"
                                [class.green]="data.user?.id === registration.userId">
                                {{ registration.userDisplayName }}
                            </p>
                            <p
                                *ngSwitchCase="2"
                                class="yellow"
                                [class.green]="data.user?.id === registration.userId">
                                {{ registration.userDisplayName }}
                            </p>
                            <p>
                                {{ registration.registrationDate | date: 'short' }}
                            </p>
                            <ng-container *ngIf="data.user">
                                <button
                                    *vrtHasPermission="['admin']"
                                    color="accent"
                                    mat-button
                                    (click)="removeUserFromEvent(registration)">
                                    {{ 'buttons.remove' | transloco | titlecase }}
                                </button>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </mat-card-content>

            <vrt-paging
                [metadata$]="metaData$"
                (changePage)="onPageChange($event)"></vrt-paging>

            <mat-card-actions>
                <button
                    color="accent"
                    mat-button
                    [queryParams]="{ id: data.vrtEvent?.id }"
                    [routerLink]="data.vrtEvent?.id ? ['/events/detail'] : ['/events']">
                    {{ 'buttons.back' | transloco | titlecase }}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>
<ng-container *ngIf="searchResult$ | async"></ng-container>
