:host {
    .blue {
        color: var(--info);
    }

    .green {
        color: var(--success);
    }

    .red {
        color: var(--warning);
    }

    .yellow {
        color: var(--warning);
    }

    .admin-user-panel {
        align-items: center;
        display: flex;
        flex-direction: row;

        p {
            margin: 0;
        }

        .mat-mdc-button,
        .mat-mdc-icon-button,
        .mat-mdc-outlined-button,
        .mat-mdc-unelevated-button {
            padding: 0;
        }
    }

    .reg-header {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        width: 100%;

        &:first-child {
            margin-right: 1rem;
        }

        #sortBtn {
            margin-left: 1rem;
        }
    }

    .search {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;

        @media screen and (max-width: 37.5rem) {
            flex-wrap: wrap;
        }
    }

    .recipient-header {
        display: flex;

        p {
            min-width: 40%;
        }
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.7rem;
    }

    .reg-wrapper {
        padding: 0.7rem;
    }

    .user-search-wrapper {
        align-items: center;
        display: flex;

        @media screen and (max-width: 37.5rem) {
            width: 100%;

            vrt-user-search {
                width: 100%;
            }
        }
    }
}
