<div
    *ngIf="resetForm"
    class="lt-margin-top-1 password-wrapper">
    <form
        class="lt-mat-form-wrapper"
        [formGroup]="resetForm"
        (ngSubmit)="changePassword()">
        <mat-card
            appearance="outlined"
            class="card-wrapper">
            <vrt-password-form [passwordGroup]="resetForm"></vrt-password-form>

            <div class="lt-button-footer-group">
                <button
                    color="accent"
                    mat-stroked-button
                    type="submit"
                    [disabled]="resetForm.invalid">
                    {{ 'buttons.update' | transloco | titlecase }}
                </button>
                <button
                    color="accent"
                    mat-button
                    routerLink="/user"
                    type="button"
                    (click)="resetForm.reset()">
                    {{ 'buttons.back' | transloco | titlecase }}
                </button>
            </div>
        </mat-card>
    </form>
</div>
