.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7rem;
}

.password-wrapper {
    align-items: baseline;
    display: flex;
    height: 97%;
    justify-content: center;
    padding: 0.5rem;
}
