<div
    aria-label="Change Color Theme"
    class="button-wrapper"
    [class.dark-theme-font]="isDarkThemeSelected"
    [class.light-theme-font]="!isDarkThemeSelected"
    [class.mat-app-background]="isDarkThemeSelected"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
    <button
        mat-icon-button
        [matMenuTriggerFor]="lang">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #lang="matMenu">
        <ng-container *ngFor="let language of availableLanguages">
            <button
                aria-label="Change Language"
                mat-menu-item
                (click)="switchLanguage(language)">
                <mat-icon>language</mat-icon>
                {{ 'languages.' + language | transloco }}
            </button>
        </ng-container>
    </mat-menu>
</div>
<router-outlet></router-outlet>
<vrt-footer [isDarkThemeSelected]="isDarkThemeSelected"></vrt-footer>

<ng-container *ngIf="isDarkThemeSelected$ | async"></ng-container>
