:host {
    height: 100%;
}

.license-wrapper {
    margin-bottom: 0.5rem;

    a {
        color: #b7da28;
        word-break: break-all;
    }

    p {
        margin: 0;
        padding: 0;
        word-break: break-all;
    }
}
