<mat-card
    *ngIf="license"
    appearance="outlined"
    class="license-wrapper">
    <mat-card-content>
        <h3>
            <a href="{{ license.projectUrl }}">{{ license.library }}</a>
        </h3>
        <ng-container *ngIf="license.personalUrl.length > 0; else text">
            <p>
                <a href="{{ license.personalUrl }}">{{ license.copyright }}</a>
            </p>
        </ng-container>
        <ng-template #text>
            <p>{{ license.copyright }}</p>
        </ng-template>
        <a href="{{ license.licenseUrl }}">{{ license.license }}</a>
    </mat-card-content>
</mat-card>
