<p>{{ 'demo.login_hint' | transloco }}</p>
<div class="">
    <button
        color="accent"
        mat-button
        type="button"
        [mat-dialog-close]="false">
        {{ 'buttons.back' | transloco | titlecase }}
    </button>
</div>
