.button-action-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;

    .mat-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.lt-mat-form-wrapper {
    width: clamp(20.625rem, 60vw, 37.5rem);
}

.event-details-wrapper {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    &__card {
        width: clamp(40%, 50%, 60%);
    }

    @media (max-width: 580px) {
        &__card {
            width: 100%;
        }
    }
}

.info {
    .label {
        color: #808080;
        font-size: 0.8rem;
        margin: 0.938rem 0 0 0;
    }

    .info-text {
        font-weight: bold;
    }
}

.capacity {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.place {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.p12 {
    padding: 0.75rem;
}

.detail-header {
    margin-bottom: 1rem;
}
