<div
    *ngIf="selectedAppEvent$ | async as vrtEvent"
    class="event-details-wrapper lt-margin-top-1">
    <mat-card
        appearance="outlined"
        class="event-details-wrapper__card mat-form-wrapper card-wrapper">
        <mat-card-header>
            <div class="detail-header">
                <mat-card-title>{{ vrtEvent.name }}</mat-card-title>
                <mat-card-subtitle class="place">
                    <mat-icon>place</mat-icon>
                    {{ vrtEvent.venueAddress }}
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="detail-content">
                <div class="info">
                    <p class="label">{{ 'events.label_date' | transloco | titlecase }}</p>
                    <p class="info-text">{{ vrtEvent.date | date: 'short' }} Uhr</p>
                </div>
                <div
                    *ngIf="vrtEvent.description && vrtEvent.description.length > 0"
                    class="info">
                    <p class="label">
                        {{ 'events.label_description' | transloco | titlecase }}
                    </p>
                    <p class="info-text">{{ vrtEvent.description }}</p>
                </div>
                <div class="info capacity">
                    <div>
                        <p class="label">
                            {{ 'events.label_capacity' | transloco | titlecase }}
                        </p>
                        <p class="info-text">{{ vrtEvent.capacity }}</p>
                    </div>
                    <div>
                        <div>
                            <button
                                color="accent"
                                data-testid="participants-button"
                                mat-button
                                [routerLink]="['/events/participants', vrtEvent.id]">
                                {{ 'events.link_participants' | transloco }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="info capacity">
                    <div>
                        <p class="label">
                            {{ 'events.label_active_participants' | transloco }}
                        </p>
                        <p class="info-text">{{ vrtEvent | activeRegistrationCount }}</p>
                    </div>
                </div>
                <ng-container *ngIf="registrations$ | async as registrations">
                    <div class="info capacity">
                        <div>
                            <p class="label">
                                {{ 'events.label_on_waiting_list' | transloco }}
                            </p>
                            <p class="info-text">{{ vrtEvent.waitingListCount }}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-card-content>

        <div class="button-action-group">
            <button
                color="accent"
                mat-button
                routerLink="/events">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
            <div>
                <ng-container *ngIf="currentUser$ | async as user">
                    <ng-container *ngIf="user && user?.role === 'admin'">
                        <button
                            *ngIf="!(vrtEvent | isEventInPast)"
                            color="accent"
                            mat-icon-button
                            [routerLink]="['../edit', vrtEvent?.id]">
                            <mat-icon>mode_edit_outline</mat-icon>
                        </button>
                        <button
                            color="warn"
                            mat-icon-button
                            (click)="deleteEvent(vrtEvent)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </mat-card>
</div>
