:host {
    width: 100%;
    display: flex;
}

.blue {
    color: var(--info);
}

.green {
    color: var(--success);
}

.red {
    color: var(--error-red);
}

.yellow {
    color: var(--warning);
}

.state-text-area {
    align-items: center;
    display: flex;
    gap: 0.7rem;

    ::ng-deep {
        .mat-mdc-card-subtitle {
            margin: 0;

            span {
                font-size: 0.8rem;
                font-style: italic;
            }
        }

        .mat-icon {
            min-width: 2rem;
        }

        .mat-icon:hover {
            cursor: pointer;
        }
    }
}

.disabled-state-text-area {
    align-items: center;
    color: #555;
    display: flex;
    gap: 0.7rem;

    ::ng-deep {
        .mat-mdc-card-subtitle {
            margin: 0;

            span {
                font-size: 0.8rem;
                font-style: italic;
            }
        }
    }
}

.reg-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
