<div
    *ngIf="vrtEvent"
    class="reg-menu">
    <ng-container *ngIf="vrtEvent.isOpenForRegistration && !(vrtEvent | isEventInPast); else isClosedForRegistration">
        <ng-container [ngSwitch]="vrtEvent.registrationStatus">
            <div
                *ngSwitchCase="0"
                class="blue state-text-area">
                <mat-icon
                    data-testid="menu-icon"
                    [matMenuTriggerFor]="menu">
                    open_in_browser
                </mat-icon>
                <mat-card-subtitle>
                    <span>{{ 'events.button_reg_status_unregistered' | transloco }}</span>
                </mat-card-subtitle>
            </div>
            <div
                *ngSwitchCase="1"
                class="green state-text-area">
                <mat-icon
                    data-testid="menu-icon"
                    [matMenuTriggerFor]="menu">
                    task_alt
                </mat-icon>
                <mat-card-subtitle>
                    <span>{{ 'events.button_reg_status_registered' | transloco }}</span>
                </mat-card-subtitle>
            </div>
            <div
                *ngSwitchCase="2"
                class="yellow state-text-area">
                <mat-icon
                    data-testid="menu-icon"
                    [matMenuTriggerFor]="menu">
                    schedule
                </mat-icon>
                <mat-card-subtitle>
                    <span>
                        {{ 'events.button_reg_status_on_waiting_list' | transloco }}
                    </span>
                </mat-card-subtitle>
            </div>

            <mat-menu #menu="matMenu">
                @if (vrtEvent.registrationStatus === 0) {
                    <button
                        data-testid="signIn"
                        mat-menu-item
                        (click)="onRegisterForEvent(vrtEvent)">
                        <mat-icon>check_circle</mat-icon>
                        <span>
                            {{ 'events.button_register' | transloco | titlecase }}
                        </span>
                    </button>
                } @else {
                    <button
                        data-testid="signOut"
                        mat-menu-item
                        (click)="onUnregisterFromEvent(vrtEvent)">
                        <mat-icon>cancel</mat-icon>
                        <span>
                            {{ 'events.button_cancel_registration' | transloco }}
                        </span>
                    </button>
                }

                <button
                    data-testid="cancel"
                    mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </span>
                </button>
            </mat-menu>
        </ng-container>
    </ng-container>
    <ng-template #isClosedForRegistration>
        <div class="disabled-state-text-area">
            <mat-icon>lock</mat-icon>
            <mat-card-subtitle>
                <span>{{ 'events.label_event_concluded' | transloco }}</span>
            </mat-card-subtitle>
        </div>
    </ng-template>
</div>
