:host {
    $grey: #989898;

    ::ng-deep {
        .light-theme-font {
            color: darken($grey, 30%) !important;
        }

        .dark-theme-font {
            color: lighten($grey, 10%) !important;
        }
    }

    .footer-wrapper {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-top: auto;
        min-height: 1.875rem;

        button {
            padding: 0 0.5rem;
        }
    }

    .border {
        border-top: 0.063rem solid #9d9d9d;
    }
}
