<div
    class="footer-wrapper"
    [class.mat-app-background]="isDarkThemeSelected"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
    <button
        mat-button
        routerLink="/about"
        [class.dark-theme-font]="isDarkThemeSelected"
        [class.light-theme-font]="!isDarkThemeSelected">
        © {{ year }}
    </button>
    <button
        mat-button
        routerLink="/impressum"
        [class.dark-theme-font]="isDarkThemeSelected"
        [class.light-theme-font]="!isDarkThemeSelected">
        {{ 'footer.title_imprint' | transloco }}
    </button>
    <button
        mat-button
        routerLink="/privacy"
        [class.dark-theme-font]="isDarkThemeSelected"
        [class.light-theme-font]="!isDarkThemeSelected">
        {{ 'footer.title_privacy_policy' | transloco }}
    </button>
</div>
