<mat-dialog-content>
    <p>{{ 'dialog.generic_confirmation_text' | transloco }}</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        color="accent"
        mat-stroked-button
        type="button"
        [mat-dialog-close]="true">
        {{ 'buttons.delete' | transloco | titlecase }}
    </button>
    <button
        color="accent"
        mat-button
        type="button"
        [mat-dialog-close]="false">
        {{ 'buttons.cancel' | transloco | titlecase }}
    </button>
</mat-dialog-actions>
