<div class="event-wrapper">
    <div
        *ngIf="events?.length"
        data-testid="event-list"
        id="vrt-event-cards">
        <div class="event-cards">
            <ng-container *ngFor="let vrtEvent of events; trackBy: trackByFn; let i = index">
                <vrt-event-card
                    class="event-card-block-main"
                    id="vrt-event.card"
                    [attr.data-testid]="'vrt-event-card-' + i + ''"
                    [user]="user"
                    [venues]="venues"
                    [vrtEvent]="vrtEvent"
                    (deleteEvent)="onDeleteEvent($event)"
                    (downloadLogFile)="onDownloadLog($event)"
                    (registerToEvent)="onRegister($event)"
                    (unregisterFromEvent)="onUnregister($event)"></vrt-event-card>
            </ng-container>
        </div>
    </div>
</div>
