:host {
    .flew-row-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .venue-form-wrapper {
        align-items: baseline;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .col {
        flex: 1;
        margin: 0 0.5rem 0 0.5rem;
    }

    .color-input {
        min-width: 10rem;

        &:hover {
            cursor: pointer;
        }
    }

    .hint,
    .label {
        font-size: 0.8rem;
    }

    .lt-full-width {
        width: 100%;
    }

    .label {
        font-weight: bold;
    }

    .venue-color-section {
        margin-bottom: 0.75rem;
    }
}
