<div
    *ngIf="venueForm"
    class="mat-app-background venue-form-wrapper">
    <form
        class="lt-mat-form-wrapper"
        novalidate
        [formGroup]="venueForm"
        (ngSubmit)="submit()">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    {{ 'venues.title_details' | transloco }}
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="flew-row-wrap">
                    <div class="col">
                        <mat-form-field
                            appearance="outline"
                            class="lt-full-width">
                            <mat-label>{{ 'venues.label_name' | transloco }}</mat-label>
                            <input
                                formControlName="name"
                                matInput
                                placeholder="Sportstätte unter der Sonne" />
                            <mat-error *ngIf="venueForm.controls['name'].hasError('required')">
                                <strong>{{ 'validation.field_required' | transloco }}</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="venueForm.controls['name'].hasError('minlength')"
                                style="margin-bottom: 0.313rem">
                                <strong>
                                    {{ 'validation.minimum_length_required' | transloco: { value: 2 } }}
                                </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field
                            appearance="outline"
                            class="lt-full-width">
                            <mat-label>
                                {{ 'venues.label_address' | transloco | titlecase }}
                            </mat-label>
                            <input
                                formControlName="address"
                                matInput
                                placeholder="Musterstr. 22, 30167 Hannover" />
                            <mat-error *ngIf="venueForm.controls['address'].hasError('required')">
                                <strong>{{ 'validation.field_required' | transloco }}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flew-row-wrap">
                    <div class="col">
                        <mat-form-field
                            appearance="outline"
                            class="lt-full-width">
                            <mat-label>
                                {{ 'venues.label_capacity' | transloco | titlecase }}
                            </mat-label>
                            <input
                                formControlName="capacity"
                                matInput
                                placeholder="25"
                                type="number" />
                            <mat-error *ngIf="venueForm.controls['capacity'].hasError('required')">
                                <strong>{{ 'validation.field_required' | transloco }}</strong>
                            </mat-error>
                            <mat-error *ngIf="venueForm.controls['capacity'].hasError('min')">
                                <strong>
                                    {{ 'validation.positive_value_required' | transloco }}
                                </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col venue-color-section">
                        <mat-label class="label">
                            {{ 'venues.label_color' | transloco }}
                        </mat-label>
                        <br />
                        <input
                            class="color-input"
                            formControlName="colorCode"
                            id="cp"
                            name="colorPicker"
                            type="color" />

                        <br />
                        <mat-hint class="hint">
                            {{ 'venues.hint_unique_colors' | transloco }}
                        </mat-hint>
                    </div>
                </div>
                <div class="col">
                    <mat-label class="label">
                        {{ 'venues.label_set_active' | transloco }}
                    </mat-label>
                    <br />
                    <mat-checkbox formControlName="isActive"></mat-checkbox>
                </div>
                <div class="col lt-button-footer-group">
                    <button
                        color="accent"
                        mat-stroked-button
                        type="submit"
                        [disabled]="venueForm.invalid">
                        {{ 'buttons.create' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        mat-button
                        routerLink="/venues"
                        type="button">
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
