// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './vrt-color.pallete' as vrt;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$VRT-SPA-primary: mat.m2-define-palette(vrt.$md-vrt-primary);
$VRT-SPA-accent: mat.m2-define-palette(vrt.$md-vrt-accent);
$VRT-SPA-warn: mat.m2-define-palette(mat.$m2-red-palette);
$custom-light-background-color: darken(#f5fafd, 2%);
$custom-light-card-background: lighten(#dddddd, 12%);
$custom-light-foreground-color: darken(#6b7c93, 20%);
$light-background-darken: darken($custom-light-background-color, 5%);

.sidebar-light {
    background-color: $custom-light-background-color !important;
}

$VRT-SPA-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $VRT-SPA-primary,
            accent: $VRT-SPA-accent,
            warn: $VRT-SPA-warn,
        ),
    )
);

// Include theme styles for _core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($VRT-SPA-theme);

// dark theme section

$VRT-SPA-primary-dark: mat.m2-define-palette(vrt.$md-vrt-primary);
$VRT-SPA-accent-dark: mat.m2-define-palette(vrt.$md-vrt-accent);
$VRT-SPA-warn-dark: mat.m2-define-palette(mat.$m2-red-palette);
$custom-dark-background-color: #303030;
$dark-background-lighten: lighten($custom-dark-background-color, 30%);

$VRT-SPA-dark-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $VRT-SPA-primary-dark,
            accent: $VRT-SPA-accent-dark,
            warn: $VRT-SPA-warn-dark,
        ),
    )
);

:root {
    --primary: vrt.$md-vrt-primary;
    --accent: vrt.$md-vrt-accent;
    --red: mat.$m2-red-palette;
    --info: #2979ff;
    --success: #00c853;
    --error-red: #d50000;
    --warning: #ffd600;
    --grey: #efefef;
}

.dark-theme-mode {
    @include mat.all-component-colors($VRT-SPA-dark-theme);
}

.background-dark-theme {
    background-color: $dark-background-lighten !important;
}

.background-light-theme {
    background-color: $light-background-darken !important;
}
