table {
    width: 100%;
}

.add-button {
    color: #4caf50;
}

.lt-full-width {
    width: 100%;
}

.search-input {
    padding: 0.5rem;
    width: 27%;
}

.state-action {
    &:hover {
        cursor: pointer;
    }
}

.table-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
    width: 96%;
}

.venue-loading {
    margin-top: 1.563rem;
}

.venue-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
