<div class="venue-wrapper">
    <ng-container *ngIf="data$ | async as data">
        <div class="table-header">
            <mat-form-field>
                <mat-label>{{ 'admin.label_search' | transloco }}</mat-label>
                <input
                    aria-label="State"
                    data-testid="search"
                    matInput
                    placeholder="Unter der Tanne"
                    [formControl]="searchForm" />
            </mat-form-field>
            <div>
                <button
                    mat-mini-fab
                    routerLink="/venues/create">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <table
            class="mat-elevation-z8"
            mat-table
            [dataSource]="data[0]">
            <ng-container matColumnDef="name">
                <th
                    *matHeaderCellDef
                    mat-header-cell>
                    {{ 'venues.th_name' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    {{ element.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th
                    *matHeaderCellDef
                    mat-header-cell
                    [hidden]="data[1]">
                    {{ 'venues.th_address' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell
                    [hidden]="data[1]">
                    {{ element.address }}
                </td>
            </ng-container>

            <ng-container matColumnDef="capacity">
                <th
                    *matHeaderCellDef
                    mat-header-cell>
                    {{ 'venues.th_capacity' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    {{ element.capacity }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isActive">
                <th
                    *matHeaderCellDef
                    mat-header-cell>
                    {{ 'venues.th_is_active' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    <ng-container [ngSwitch]="element.isActive">
                        <div *ngSwitchCase="true">
                            <mat-icon
                                class="state-action"
                                color="accent"
                                (click)="switchActiveState(element)">
                                check_circle_outline
                            </mat-icon>
                        </div>
                        <div *ngSwitchCase="false">
                            <mat-icon
                                class="state-action"
                                color="warn"
                                (click)="switchActiveState(element)">
                                cancel
                            </mat-icon>
                        </div>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th
                    *matHeaderCellDef
                    mat-header-cell></th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            *ngIf="data[1]"
                            mat-menu-item
                            (click)="openVenueDetailView(element)">
                            <mat-icon color="accent">event_note</mat-icon>
                            <span>{{ 'buttons.details' | transloco | titlecase }}</span>
                        </button>
                        <button
                            mat-menu-item
                            [routerLink]="['/venues/edit', element?.id]">
                            <mat-icon color="accent">edit</mat-icon>
                            <span>{{ 'buttons.edit' | transloco | titlecase }}</span>
                        </button>
                        <button
                            mat-menu-item
                            (click)="deleteVenue(element)">
                            <mat-icon color="warn">delete</mat-icon>
                            <span>{{ 'buttons.delete' | transloco | titlecase }}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr
                *matHeaderRowDef="displayedColumns"
                mat-header-row></tr>
            <tr
                *matRowDef="let row; columns: displayedColumns"
                mat-row></tr>
        </table>
    </ng-container>
    <vrt-paging
        [metadata$]="metadata$"
        (changePage)="onPageChange($event)"></vrt-paging>
</div>
<ng-container *ngIf="searchResult$ | async"></ng-container>
