<div
    *ngIf="currentUser$ | async"
    class="lt-margin-top-1 profile-wrapper">
    <form
        *ngIf="userForm"
        class="lt-mat-form-wrapper"
        [formGroup]="userForm"
        (ngSubmit)="submit()">
        <mat-card
            appearance="outlined"
            class="card-wrapper">
            <mat-form-field
                appearance="outline"
                class="lt-full-width">
                <mat-label>
                    {{ 'auth.label_display_name' | transloco | titlecase }}
                </mat-label>
                <input
                    formControlName="displayName"
                    matInput
                    placeholder="Max Mustermann" />
                <mat-error *ngIf="userForm.controls['displayName'].hasError('required')">
                    <strong>{{ 'validation.field_required' | transloco }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field
                appearance="outline"
                class="lt-full-width">
                <mat-label>
                    {{ 'auth.label_email_address' | transloco | titlecase }}
                </mat-label>
                <input
                    formControlName="email"
                    matInput
                    placeholder="max.mustermann@example.com" />
                <mat-error *ngIf="userForm.controls['email'].hasError('email')">
                    <strong>{{ 'validation.invalid_email_address' | transloco }}</strong>
                </mat-error>
            </mat-form-field>

            <div>
                <mat-label>
                    {{ 'auth.label_receive_notifications' | transloco }}
                </mat-label>
                <br />
                <mat-checkbox formControlName="receiveNotifications"></mat-checkbox>
            </div>
            <div class="lt-button-footer-group">
                <button
                    color="accent"
                    mat-stroked-button
                    type="submit"
                    [disabled]="!userForm.valid">
                    {{ 'buttons.update' | transloco | titlecase }}
                </button>
                <button
                    color="accent"
                    mat-button
                    routerLink="/user"
                    type="button">
                    {{ 'buttons.cancel' | transloco | titlecase }}
                </button>
            </div>
        </mat-card>
    </form>
</div>
