.privacy-wrapper {
    padding: 1rem;

    .go-top-button-wrapper {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0.5rem;
        }
    }

    .content {
        font-size: 1rem;
        padding: 1rem;

        a {
            color: #b7da28;

            &:hover {
                color: #c2e048;
            }
        }

        h2 {
            line-height: 1.6rem;
            text-decoration: underline;
        }
    }
}
