<ng-container *ngIf="isDarkThemeSelected$ | async"></ng-container>
<div
    class="privacy-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
    <ng-container *ngIf="currentUser$ | async as user; else backToLogin">
        <button
            color="accent"
            mat-button
            (click)="navigateBack()">
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </ng-container>
    <ng-template #backToLogin>
        <button
            color="accent"
            mat-button
            routerLink="auth/login">
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </ng-template>
    <div class="content">
        <!-- Haupt-Titel -->
        <h1>Datenschutzerklärung</h1>
        <!-- Abschnitt: Grundlegendes -->
        <h2>Grundlegendes</h2>
        <p>
            Wir nehmen den Schutz Eurer personenbezogenen Daten sehr ernst und wollen, dass Ihr Euch bei der Verwendung dieser Website/App
            sicher fühlt. Hier erklären wir Euch, welche Daten wir erheben und wie sie verarbeitet werden.
        </p>
        <p>
            Die Definitionen der verwendeten Begriffe (z. B. “personenbezogene Daten” oder “Verarbeitung”) findet Ihr in Art. 4 der
            EU-Datenschutzgrundverordnung (nachfolgend: DSGVO).
        </p>
        <!-- Abschnitt: Personenbezogene Daten -->
        <h2>Personenbezogene Daten</h2>
        <p>
            Für die Registrierung auf und die Verwendung unserer Website/App benötigen wir einige personenbezogene Daten, die über das
            Registrierungsformular an uns übermittelt werden.
        </p>
        <p>Zum Zeitpunkt Deiner Registrierung werden zusätzlich folgende Daten erhoben:</p>
        <ul>
            <li>Datum und Uhrzeit der Registrierung</li>
        </ul>
        <p>Darüber hinaus speichern wir:</p>
        <ul>
            <li>An welchen Veranstaltungen Du Dich angemeldet hast</li>
            <li>Datum und Uhrzeit Deiner Anmeldungen</li>
        </ul>
        <p>
            Diese Daten speichern wir nur zu den angegebenen Zwecken und nur solange, wie Ihr diese Website/App in Anspruch nehmen wollt,
            danach werden sie gelöscht. Wir behandeln Eure persönlichen Daten vertraulich und geben sie keinesfalls an Dritte weiter. Ihr
            könnt Eure Daten jederzeit einsehen, bearbeiten, bzw. Eure Einwilligung in die Nutzung durch Löschung Eures Kontos widerrufen.
        </p>
        <p>
            Wir verarbeiten die personenbezogenen Daten auf dieser Website/App gemäß Art. 6 Abs. 1 S. 1 lit. a) in Verbindung mit Art. 7
            DSGVO. Das heißt, dass wir Eure vorherige Einwilligung benötigen.
        </p>
        <!-- Abschnitt: *Aufbewahrung deiner Daten in Corona-Zeiten* -->
        <h2>
            <i>Aufbewahrung deiner Daten in Corona-Zeiten</i>
        </h2>
        <p>
            Gemäß § 5 Abs. 1 Satz 3 der Niedersächsischen Verordnung über Maßnahmen zur Eindämmung des Corona-Virus SARS-CoV-2, sind wir zum
            Nachvollziehen etwaiger Infektionsketten dazu verpflichtet, personenbezogene Daten für eine Dauer von drei Wochen nach dem Ende
            eines jeweiligen Ereignisses aufzubewahren.
        </p>
        <p>
            Solltest Du Dein Konto auf unserer Website/App löschen und in den letzten drei Wochen davor an einer Veranstaltung teilgenommen
            haben, setzen wir die Löschung deiner personenbezogenen Daten ab dem Tag der letzten Veranstaltung, an der Du teilgenommen hast,
            für drei Wochen aus.
        </p>
        <p>
            Ist die oben beschriebene Frist verstrichen, setzen wir die Löschung Deines Kontos und aller damit verbundenen personenbezogenen
            Daten fort. Solltest Du in Deinem Konto eine E-Mail-Adresse hinterlegt haben, erhältst Du abschließend eine entsprechende
            Bestätigung.
        </p>
        <!-- Abschnitt: Protokolldaten -->
        <h2>Protokolldaten</h2>
        <p>
            Euer Browser sendet beim Zugriff auf unsere Website/App eine Reihe technischer Daten, die auf unserem Server (im „Server-Log“)
            protokolliert werden:
        </p>
        <ul>
            <li>Eure IP-Adresse</li>
            <li>Verwendeter Browser</li>
            <li>Verwendetes Betriebssystem</li>
            <li>Name der abgerufenen Ressource</li>
            <li>Datum und Uhrzeit des Abrufs</li>
            <li>Menge der übertragenen Daten</li>
        </ul>
        <p>
            Die Protokolldaten haben keinen direkten Personenbezug und werden von uns in keinem Fall mit den von Euch bei uns hinterlegten
            persönlichen Daten zusammengeführt.
        </p>
        <p>
            Die Speicherung dieser Daten dient ausschließlich internen Zwecken, um z. B. Fehler zu beheben und unbefugten Zugriff auf unsere
            Systeme als auch andere Missbrauchsfälle aufzuklären. Die Protokolldaten werden von uns maximal 7 Tage gespeichert und
            keinesfalls an Dritte weitergegeben. Müssen Daten aus Beweisgründen aufgehoben werden, sind sie solange von der Löschung
            ausgenommen bis der Vorfall endgültig geklärt ist.
        </p>
        <!-- Abschnitt: Einsatz von Google Fonts -->
        <h2>Einsatz von Google Fonts</h2>
        <p>
            Unsere Website/App verwendet Schriftarten (engl. 'fonts') der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA
            94043, USA).
        </p>
        <p>
            Sind die verwendeten Schriftarten noch nicht im Speicher Deines Browsers vorhanden, so werden diese vom Google-Fonts-Server
            heruntergeladen und für ein Jahr gespeichert. Beim nächsten Besuch unserer Website/App - oder einer anderen, die diese
            Schriftarten verwendet - werden sie fortan aus dem Speicher Deines Browsers geladen.
        </p>
        <p>
            Dieser Vorgang ist anonym und keine Deiner bei uns gespeicherten personenbezogenen Daten werden hierbei übermittelt. Es werden
            jedoch - wie bei jedem Aufruf einer Website - Protokolldaten (s. o.) von Deinem Browser an den Google-Server übermittelt.
            Darüber hinaus erhebt Google einige (anonyme) Nutzungsstatistiken, wie zum Beispiel die Häufigkeit, mit der unterschiedliche
            Schriftarten verwendet werden.
        </p>
        <p>
            Weitere Informationen zu diesem und anderer Themen kannst Du dem
            <a
                href="https://developers.google.com/fonts/faq#what_does_using_the_google_fonts_api_mean_for_the_privacy_of_my_users"
                target="_blank">
                Google Fonts FAQ
            </a>
            entnehmen.
        </p>
        <!-- Abschnitt: Einsatz von Cookies -->
        <h2>Einsatz von Cookies</h2>
        <p>
            Cookies sind kleine Textdateien, die durch den Browser gesammelt und temporär auf der Festplatte gespeichert werden. Sie
            verraten keinerlei persönliche Daten und können weder auf die Daten der Festplatte zugreifen noch dort Schaden anrichten.
        </p>
        <p>
            Zum aktuellen Zeitpunkt verwendet unsere Website/App
            <strong>keine</strong>
            Cookies.
        </p>
        <!-- Abschnitt: Einsatz von Local Storage -->
        <h2>Einsatz von Local Storage</h2>
        <p>
            Unsere Website/App verwendet den Local Storage (auch „Lokale Daten“ oder „Lokaler Speicher“) des Browsers. Dabei werden Daten
            lokal im Cache („Zwischenspeicher“) Eures Browsers gespeichert, die auch nach dem Schließen des Browser-Fensters oder dem
            Beenden des Programms (sofern Ihr das in eurem Browser nicht anders konfiguriert habt) weiterhin bestehen und ausgelesen werden
            können.
        </p>
        <p>
            Mit Hilfe des Local Storage ist es uns möglich, Euch bestimmte Grundfunktionen dieser Website/App „offline“ verfügbar zu machen
            und euch (bis zu 7 Tage nach Eurem letzten Besuch) automatisch wieder anzumelden. Zu diesem Zweck werden die hierfür notwendigen
            Informationen (Textdokumente und Bilder) als lokale Daten hinterlegt.
        </p>
        <p>
            Auf die auf diese Art gespeicherten Daten können Dritte nicht zugreifen. Sie werden auch nicht an Dritte weitergegeben oder für
            Werbezwecke verwendet.
        </p>
        <p>
            Wenn Ihr nicht wollt, dass Online-Angebote Local-Storage-Funktionen einsetzen, dann könnt Ihr das in den Einstellungen Eures
            Browsers zur „Chronik“ bzw. zu „Lokalen Daten“, je nachdem welchen Browser Ihr verwendet, verwalten und löschen.
        </p>
        <!-- Abschnitt: Newsletter & E-Mail-Benachrichtigungen -->
        <h2>Newsletter & E-Mail-Benachrichtigungen</h2>
        <p>
            Wir bieten Euch Newsletter und E-Mail-Benachrichtigungen, um Euch über aktuelle Veranstaltungen und den Status Eurer Anmeldungen
            zu informieren. Um diese zu erhalten, benötigen wir von Euch eine valide E-Mail-Adresse sowie Eure Zustimmung für den Empfang.
        </p>
        <p>
            Habt Ihr in Eurem Konto eine E-Mail-Adresse hinterlegt, aber keine Zustimmung für den Empfang von E-Mail-Benachrichtigungen
            gegeben, erhaltet Ihr in den folgenden Fällen dennoch eine Benachrichtigung:
        </p>
        <ul>
            <li>Zur Bestätigung Eurer Registrierung (einmalig)</li>
            <li>Zur Bestätigung, dass Euer Konto freigeschaltet wurde</li>
            <li>Beim Zurücksetzen Eures Passwortes</li>
            <li>Beim Löschung Eures Kontos, zur Bestätigung</li>
        </ul>
        <p>
            Die Angabe einer E-Mail-Adresse ist freiwillig und Ihr könnt sie, wie auch Eure Zustimmung für den Empfang von
            E-Mail-Benachrichtigungen, jederzeit in eurem Konto widerrufen.
        </p>
        <!-- Abschnitt: Push-Benachrichtigungen -->
        <h2>Push-Benachrichtigungen</h2>
        <p>
            Über das Glockensymbol in Eurem Konto könnt Ihr Euch für den Empfang von Push-Benachrichtigungen anmelden. Ihr erhaltet dann
            regelmäßig Informationen zu neuen Veranstaltungen und dem Status Eurer Anmeldungen. Zur Anmeldung müsst Ihr die Abfrage Eures
            Browsers zum Erhalt von Push-Benachrichtigungen erlauben. Dieser Prozess wird von uns dokumentiert und gespeichert. Hierzu
            gehört die Speicherung des Anmeldezeitpunkts sowie Eure Browser-ID, welche wir für die Zustellung von Push-Benachrichtigungen
            benötigen.
        </p>
        <p>Eine Auswertung oder Weitergabe dieser Daten an Dritte findet nicht statt.</p>
        <p>
            Indem Ihr unsere Push-Benachrichtigungen abonniert, erklärt Ihr Euch mit deren Empfang einverstanden. Rechtsgrundlage für die
            Verarbeitung Eurer Daten ist nach Anmeldung zu unseren Push-Benachrichtigungen dann Eure Einwilligung (Art. 6 Abs. 1 lit. a
            DSGVO).
        </p>
        <p>Eure Einwilligung kann jederzeit über Euren Browser- bzw. den Einstellungen Eures Mobilgerätes widerrufen werden.</p>
        <!-- Abschnitt: Recht auf Widerruf, Auskunft, Löschung, Berechtigung, u. a.-->
        <h2>Recht auf Widerruf, Auskunft, Löschung, Berechtigung, u. a.</h2>
        <p>Die Einwilligung zur Verarbeitung Eurer personenbezogenen Daten könnt Ihr jederzeit widerrufen.</p>
        <p>
            Wenn Ihr eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Euch gespeicherten personenbezogenen Daten wünscht,
            Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung habt, oder erteilte Einwilligungen widerrufen möchtet, wendet Euch bitte
            an die folgende Adresse:
            <a href="mailto:psv.abteilung2@gmail.com">psv.abteilung2&#64;gmail.com</a>
        </p>
        <p>
            Schließlich habt Ihr gemäß Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde. Die Aufsichtsbehörde ist für Euch
            die Landesbeauftragte für den Datenschutz (LfD), auf deren Website es ein entsprechendes
            <a
                href="https://lfd.niedersachsen.de/startseite/meldeformulare/online_beschwerde/"
                target="_blank">
                Online-Beschwerdeformular
            </a>
            gibt.
        </p>
        <!-- Abschnitt: Verantwortlichkeit -->
        <h2>Verantwortlichkeit</h2>
        <p>
            Polizei-Sportverein Hannover e.V.
            <br />
            Abteilung Badminton
            <br />
            An der Breiten Wiese 70
            <br />
            30625 Hannover
            <br />
            Deutschland
            <br />
            <br />
            E-Mail:
            <a href="mailto:psv.abteilung2@gmail.com">psv.abteilung2&#64;gmail.com</a>
            <br />
            Website:
            <a href="https://badminton.psv-hannover.de"> https://badminton.psv-hannover.de </a>
        </p>
    </div>
</div>
<div
    class="go-top-button-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
    <vrt-scroll-top-button></vrt-scroll-top-button>
</div>
