@import '../../style/authentication';

:host {
    mat-form-field {
        width: 100%;
    }

    .checkbox-flex {
        align-items: center;
        display: flex;
        gap: 1rem;
        margin-bottom: 0;
    }

    .register-form {
        margin: 0 0.8rem 0 0.8rem;
        max-width: 18.75rem;

        div {
            margin-bottom: 0.8rem;
        }

        div:last-child {
            margin-bottom: 0;
        }
    }

    .privacy-text {
        margin-bottom: 0;
        margin-top: 0.4rem;
        max-width: fit-content;

        a {
            color: #b7da28;
        }
    }
}
