<div
    class="login-wrapper mat-app-background"
    data-testid="register-wrapper"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }"
    [ngStyle]="!isDarkThemeSelected ? { 'background-color': '#fff' } : {}">
    <div class="container">
        <mat-card-title class="title">
            {{ 'auth.label_registration' | transloco | titlecase }}
        </mat-card-title>
        <mat-card-content *ngIf="registerForm">
            <form
                class="register-form"
                [formGroup]="registerForm"
                (ngSubmit)="register()">
                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_username' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="username"
                            formControlName="username"
                            matInput
                            placeholder="{{ 'auth.label_username' | transloco | titlecase }}" />
                        <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-icon matSuffix>assignment_ind</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_display_name' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="displayname"
                            formControlName="displayName"
                            matInput
                            placeholder="{{ 'auth.label_display_name' | transloco | titlecase }}" />
                        <mat-error *ngIf="registerForm.controls['displayName'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-icon matSuffix>assignment_ind</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field
                        appearance="outline"
                        color="accent">
                        <mat-label>
                            {{ 'auth.label_email_address' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="email"
                            formControlName="email"
                            matInput
                            placeholder="{{ 'auth.label_email_address' | transloco | titlecase }}"
                            type="email" />
                        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                            <strong>
                                {{ 'validation.invalid_email_address' | transloco }}
                            </strong>
                        </mat-error>
                        <mat-icon matSuffix>alternate_email</mat-icon>
                    </mat-form-field>
                </div>
                <vrt-password-form [passwordGroup]="registerForm"></vrt-password-form>

                <div class="checkbox-flex">
                    <mat-checkbox
                        formControlName="receiveNotifications"
                        (change)="checkNotificationCheckbox()"></mat-checkbox>
                    <mat-label>
                        {{ 'auth.label_receive_notifications' | transloco }}
                    </mat-label>
                </div>

                <div class="privacy-text">
                    <mat-label>
                        {{ 'auth.terms_of_use_p1' | transloco }}
                        <a
                            routerLink="/privacy"
                            target="_blank">
                            {{ 'auth.link_privacy_policy' | transloco }}
                        </a>
                        {{ 'auth.terms_of_use_p2' | transloco }}
                    </mat-label>
                </div>

                <div class="lt-button-footer-group">
                    <button
                        color="accent"
                        data-testid="submit"
                        mat-stroked-button
                        type="submit"
                        [disabled]="registerForm.invalid">
                        {{ 'buttons.register' | transloco | titlecase }}
                    </button>
                    <button
                        color="accent"
                        data-testid="cancel"
                        mat-button
                        routerLink="/auth/login"
                        type="button">
                        {{ 'buttons.cancel' | transloco | titlecase }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </div>
</div>
