.about-wrapper {
    padding: 0 0.8rem;

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: #b7da28;

            &:hover {
                color: #c2e048;
            }
        }
    }

    .button-container {
        padding-top: 0.1rem;

        .mat-mdc-button {
            padding: 0;
        }
    }
}

.full-height {
    height: 90.5vh;
}
