<div
    class="about-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected$ | async }">
    <div class="button-container">
        <ng-container *ngIf="currentUser$ | async as user; else backToLogin">
            <button
                color="accent"
                mat-button
                (click)="navigateBack()">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </ng-container>
        <ng-template #backToLogin>
            <button
                color="accent"
                mat-button
                routerLink="auth/login">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </ng-template>
    </div>

    <div [class.center-all]="!isSmallDevice">
        <mat-tab-group [class.width-50]="!isSmallDevice">
            <mat-tab label="{{ 'app.about' | transloco | titlecase }}">
                <div
                    class="full-height"
                    [class.center-all]="!isSmallDevice">
                    <div [class.width-50]="!isSmallDevice">
                        <div class="lt-margin-top-1">
                            <vrt-release-card
                                [currentVersion]="true"
                                [release]="currentVersion"></vrt-release-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'app.version_history' | transloco | titlecase }}">
                <ng-container *ngIf="releases$ | async as releases">
                    <div [class.center-all]="!isSmallDevice">
                        <div
                            class="lt-margin-top-1"
                            [class.width-50]="!isSmallDevice">
                            <div class="content">
                                <ng-container *ngFor="let release of releases">
                                    <vrt-release-card [release]="release"></vrt-release-card>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab label="{{ 'app.licenses' | transloco }}">
                <vrt-license-view [isSmallDevice]="isSmallDevice"></vrt-license-view>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="button-container">
        <ng-container *ngIf="currentUser$ | async as user; else backToLogin">
            <button
                color="accent"
                mat-button
                (click)="navigateBack()">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </ng-container>
        <ng-template #backToLogin>
            <button
                color="accent"
                mat-button
                routerLink="auth/login">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </ng-template>
    </div>
</div>
<ng-container *ngIf="isHandset$ | async"></ng-container>
