<mat-dialog-content>
    <div>
        {{ registration.eventDate | date }}
        <br />
        <mat-divider></mat-divider>
        <mat-card-subtitle>
            {{ 'registration table.eventDate' | transloco }}
        </mat-card-subtitle>
    </div>
    <div>
        {{ registration.eventName }}
        <br />
        <mat-divider></mat-divider>
        <mat-card-subtitle>
            {{ 'registration table.eventName' | transloco }}
        </mat-card-subtitle>
    </div>
    <div>
        {{ registration.registrationDate | date }}
        <br />
        <mat-divider></mat-divider>
        <mat-card-subtitle>
            {{ 'registration table.registrationDate' | transloco }}
        </mat-card-subtitle>
    </div>
    <div>
        {{ registration.status | getRegistrationStatusName | transloco }}
        <br />
        <mat-divider></mat-divider>
        <mat-card-subtitle>
            {{ 'registration table.status' | transloco }}
        </mat-card-subtitle>
    </div>
    <div>
        {{ registration.userDisplayName }}
        <br />
        <mat-divider></mat-divider>
        <mat-card-subtitle>
            {{ 'registration table.userDisplayName' | transloco }}
        </mat-card-subtitle>
    </div>

    <div class="button-wrapper">
        <button
            color="accent"
            mat-button
            mat-dialog-close>
            {{ 'buttons.back' | transloco }}
        </button>
    </div>
</mat-dialog-content>
