@use 'sass:math';

.spinner-container {
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.LoaderBalls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 5.625rem;

    &__item {
        // .LoaderBalls__wrapper__item
        $anim-drt: 0.4s;
        $anim-ease: cubic-bezier(0.6, 0.05, 0.15, 0.95);
        background: #00f1ca;
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;

        &:nth-child(1) {
            animation: bouncing $anim-drt alternate infinite $anim-ease;
        }

        &:nth-child(2) {
            animation: bouncing $anim-drt math.div($anim-drt, 4) alternate infinite $anim-ease backwards;
        }

        &:nth-child(3) {
            animation: bouncing $anim-drt math.div($anim-drt, 2) alternate infinite $anim-ease backwards;
        }
    }
}

@keyframes bouncing {
    0% {
        transform: translate3d(0, 0.625rem, 0) scale(1.2, 0.85);
    }

    100% {
        transform: translate3d(0, -1.25rem, 0) scale(0.9, 1.1);
    }
}
