<div
    *ngIf="(loading$ | async) || isLoading"
    class="spinner-container">
    <div class="LoaderBalls">
        <div class="LoaderBalls__item"></div>
        <div class="LoaderBalls__item"></div>
        <div class="LoaderBalls__item"></div>
    </div>
</div>
