<div
    *ngIf="dialogData === null && (user$ | async) as user"
    class="form-wrapper lt-margin-top-1">
    <ng-container *ngIf="userForm">
        <form
            class="lt-mat-form-wrapper"
            [formGroup]="userForm"
            (ngSubmit)="updateUser()">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <mat-form-field
                        appearance="outline"
                        class="lt-full-width"
                        color="accent">
                        <mat-label>{{ 'admin.label_username' | transloco }}</mat-label>
                        <input
                            formControlName="username"
                            matInput
                            readonly />
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="lt-full-width"
                        color="accent">
                        <mat-label>{{ 'admin.label_display_name' | transloco }}</mat-label>
                        <input
                            formControlName="displayName"
                            matInput
                            placeholder="Max Mustermann" />
                        <mat-error *ngIf="userForm.controls['displayName'].hasError('required')">
                            <strong>{{ 'validation.field_required' | transloco }}</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="userForm.controls['displayName'].hasError('minlength')"
                            style="margin-bottom: 0.313rem">
                            <strong>
                                {{ 'validation.minimum_length_required' | transloco: { value: 3 } }}
                            </strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="lt-full-width"
                        color="accent">
                        <mat-label>{{ 'admin.label_email_address' | transloco }}</mat-label>
                        <input
                            data-testid="email"
                            formControlName="email"
                            matInput
                            placeholder="max.mustermann@beispiel.de" />
                        <mat-error *ngIf="userForm.controls['email'].hasError('email')">
                            <strong>
                                {{ 'validation.invalid_email_address' | transloco }}
                            </strong>
                        </mat-error>
                    </mat-form-field>

                    <div>
                        <label class="label">{{ 'admin.label_user_role' | transloco }}</label>
                        <mat-radio-group
                            aria-label="Wähle eine Rolle"
                            class="role-radio-group"
                            formControlName="role">
                            <mat-radio-button value="user">
                                {{ 'admin.role_user' | transloco }}
                            </mat-radio-button>
                            <mat-radio-button value="manager">
                                {{ 'admin.role_manager' | transloco }}
                            </mat-radio-button>
                            <mat-radio-button value="admin">
                                {{ 'admin.role_admin' | transloco }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <section class="checkbox-section">
                        <label class="label">
                            {{ 'admin.label_receive_notifications' | transloco }}
                        </label>
                        <mat-checkbox formControlName="receiveNotifications"></mat-checkbox>
                    </section>
                    <section>
                        <div class="user-status-section">
                            <ng-container [ngSwitch]="user.status">
                                <label
                                    *ngSwitchCase="userStatus.PendingRegistration"
                                    class="label">
                                    {{ 'admin.account_status_activation_required' | transloco }}
                                </label>
                                <label
                                    *ngSwitchCase="userStatus.Active"
                                    class="label">
                                    {{ 'admin.account_status_activated' | transloco }}
                                </label>
                                <label
                                    *ngSwitchCase="userStatus.Inactive"
                                    class="label">
                                    {{ 'admin.account_status_deactivated' | transloco }}
                                </label>
                                <label
                                    *ngSwitchCase="userStatus.PendingDeletion"
                                    class="label">
                                    {{ 'admin.account_status_deletion_pending' | transloco }}
                                </label>
                            </ng-container>

                            <div>
                                <ng-container [ngSwitch]="user.status">
                                    <div *ngSwitchCase="userStatus.Active">
                                        <button
                                            color="accent"
                                            data-testid="state-btn"
                                            mat-button
                                            type="button"
                                            (click)="switchUserActiveState(user)">
                                            <mat-icon>lock</mat-icon>
                                            <span>{{ 'buttons.deactivate' | transloco }}</span>
                                        </button>
                                    </div>
                                    <div *ngSwitchCase="userStatus.Inactive">
                                        <button
                                            color="accent"
                                            data-testid="state-btn"
                                            mat-button
                                            type="button"
                                            (click)="switchUserActiveState(user)">
                                            <mat-icon>lock_open</mat-icon>
                                            <span>{{ 'buttons.activate' | transloco }}</span>
                                        </button>
                                    </div>
                                    <div *ngSwitchCase="userStatus.PendingRegistration">
                                        <button
                                            color="accent"
                                            data-testid="state-btn"
                                            mat-button
                                            type="button"
                                            (click)="switchUserActiveState(user)">
                                            <mat-icon>lock_open</mat-icon>
                                            <span>{{ 'buttons.unlock' | transloco }}</span>
                                        </button>
                                    </div>
                                    <div *ngSwitchCase="userStatus.PendingDeletion">
                                        <button
                                            color="accent"
                                            data-testid="state-btn"
                                            mat-button
                                            type="button"
                                            (click)="switchUserActiveState(user)">
                                            <mat-icon>restore_from_trash</mat-icon>
                                            <span>{{ 'buttons.reactivate' | transloco }}</span>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </section>
                    <div>
                        <div
                            *ngIf="user.deletionDate"
                            class="info">
                            <p class="label">{{ 'admin.label_deletion_on' | transloco }}</p>
                            <p class="info-text">
                                {{ user.deletionDate | date: 'mediumDate' }}
                            </p>
                        </div>
                    </div>
                    <div class="lt-button-footer-group lt-full-width">
                        <button
                            color="accent"
                            data-testid="submit"
                            mat-stroked-button
                            type="submit">
                            <mat-icon>done</mat-icon>
                            {{ 'buttons.save' | transloco }}
                        </button>
                        <button
                            color="accent"
                            data-testid="back"
                            mat-button
                            routerLink="/admin/users/{{ currentStatus }}"
                            type="button">
                            <mat-icon>close</mat-icon>
                            {{ 'buttons.back' | transloco }}
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-container>
</div>

<ng-container *ngIf="token.length > 0">
    <mat-dialog-content>
        <div class="token-content">
            <p class="mat-headline-6">{{ 'admin.label_token' | transloco }}:</p>
            <p class="mat-body-1">{{ token }}</p>
            <button
                color="accent"
                mat-icon-button
                [cdkCopyToClipboard]="token"
                (click)="showToast()">
                <mat-icon>content_copy</mat-icon>
            </button>
        </div>
    </mat-dialog-content>
</ng-container>
