.action-button-group {
    align-items: center;
    column-gap: 0.625rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
    width: 100%;
}

.checkbox-section {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
}

.close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form-wrapper {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.label {
    color: #808080;
    font-size: 0.7rem;
    margin: 0;
}

.role-radio-group {
    display: flex;
    flex-direction: column;
}

.token-content {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    height: 9.375rem;
    justify-content: center;
    width: 9.375rem;
}

.user-status-section {
    @extend .checkbox-section;
    align-items: flex-start;
    flex-direction: column;

    ::ng-deep .mat-mdc-button {
        padding: 0 0.438rem 0 0;

        .mat-icon {
            padding-right: 0.5rem;
        }
    }
}
