table {
    width: 100%;
}

.mat-column-actor {
    min-width: 6rem;
}

.log-wrapper {
    min-height: 100%;
}

.search-log {
    margin: 0.5rem 0 0 0.5rem;
}

.member-wrapper__content {
    height: calc(90vh - 7.1rem);
}
