<div
    class="log-wrapper"
    data-testid="log-wrapper">
    <ng-container *ngIf="data$ | async as data">
        <form
            class="search-log"
            [formGroup]="searchForm">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'admin.label_search' | transloco | titlecase }}
                </mat-label>
                <input
                    formControlName="search"
                    matInput
                    placeholder="Max Mustermann"
                    type="text" />
            </mat-form-field>
        </form>

        <table
            class="mat-elevation-z8"
            data-testid="audit-table"
            mat-table
            [dataSource]="data[0]">
            <ng-container matColumnDef="actor">
                <th
                    *matHeaderCellDef
                    mat-header-cell>
                    {{ 'admin.th_admin' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    {{ element.actor }}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th
                    *matHeaderCellDef
                    mat-header-cell>
                    {{ 'admin.th_action' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell>
                    {{ element.action }}
                </td>
            </ng-container>

            <ng-container matColumnDef="target">
                <th
                    *matHeaderCellDef
                    mat-header-cell
                    [hidden]="data[1]">
                    {{ 'admin.th_target' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell
                    [hidden]="data[1]">
                    {{ element.target }}
                </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <th
                    *matHeaderCellDef
                    mat-header-cell
                    [hidden]="data[1]">
                    {{ 'admin.th_timestamp' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell
                    [hidden]="data[1]">
                    {{ element.timestamp | date: 'short' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="indirectTarget">
                <th
                    *matHeaderCellDef
                    mat-header-cell
                    [hidden]="data[1]">
                    {{ 'admin.th_indirect_target' | transloco | titlecase }}
                </th>
                <td
                    *matCellDef="let element"
                    mat-cell
                    [hidden]="data[1]">
                    {{ element.indirectTarget }}
                </td>
            </ng-container>

            <ng-container matColumnDef="admin-actions">
                <th
                    *matHeaderCellDef
                    mat-header-cell
                    [hidden]="!data[1]"></th>
                <td
                    *matCellDef="let element; index as i"
                    mat-cell
                    [hidden]="!data[1]">
                    <button
                        mat-icon-button
                        [attr.data-testid]="'audit-menu-' + i"
                        [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            mat-menu-item
                            [attr.data-testid]="'audit-details-' + i"
                            (click)="openLogDetails(element)">
                            <mat-icon color="accent">event_note</mat-icon>
                            <span>{{ 'buttons.details' | transloco | titlecase }}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr
                *matHeaderRowDef="displayedColumns"
                mat-header-row></tr>
            <tr
                *matRowDef="let row; columns: displayedColumns"
                mat-row></tr>
        </table>

        <vrt-paging
            [metadata$]="metaData$"
            (changePage)="pageOptionChanged($event)"></vrt-paging>
    </ng-container>
</div>
