<mat-dialog-content>
    <ng-container *ngIf="audit">
        <h1>
            {{ 'admin.title_log_entry_details' | transloco | titlecase }}
        </h1>
        <mat-card-content>
            <p>{{ 'admin.th_admin' | transloco | titlecase }}: {{ audit.actor }}</p>
            <p>{{ 'admin.th_action' | transloco | titlecase }}: {{ audit.action }}</p>
            <p>{{ 'admin.th_target' | transloco | titlecase }}: {{ audit.target }}</p>
            <p>
                {{ 'admin.th_timestamp' | transloco | titlecase }}:
                {{ audit.timestamp | date: 'short' }}
            </p>
            <p *ngIf="audit.indirectTarget">{{ 'admin.th_indirect_target' | transloco }} : {{ audit.indirectTarget }}</p>
        </mat-card-content>
        <mat-dialog-actions>
            <button
                class="back-btn"
                color="accent"
                data-testid="close-btn"
                mat-button
                [mat-dialog-close]="false">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </mat-dialog-actions>
    </ng-container>
</mat-dialog-content>
