<div class="member-wrapper">
    <h1 class="mat-headline-5">{{ 'admin.title' | transloco }}</h1>
    <ng-container *ngIf="users$ | async as users">
        <div class="search-area">
            <div class="search-header">
                <form
                    class="search-form"
                    [formGroup]="searchForm">
                    <mat-form-field>
                        <mat-label>
                            {{ 'admin.label_search' | transloco | titlecase }}
                        </mat-label>
                        <input
                            data-testid="search-input"
                            formControlName="search"
                            matInput
                            placeholder="Max Mustermann"
                            type="text" />
                    </mat-form-field>
                </form>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.label_account_status' | transloco }}</mat-label>
                <mat-select
                    data-testid="selectStatus"
                    [(ngModel)]="selectedStatus"
                    (ngModelChange)="selectStatus($event)">
                    <mat-option
                        *ngFor="let status of userStatuses"
                        data-testid="statusOption"
                        [value]="status.value">
                        {{ status.label | transloco }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div mat-subheader>{{ 'admin.sub_title_members' | transloco }}</div>
        <div class="member-wrapper__content">
            <mat-list
                class="margin-bottom-15"
                role="list">
                <div class="member-wrapper__list">
                    <ng-container *ngFor="let user of users">
                        <mat-list-item
                            class="user-list-item"
                            role="listitem"
                            [ngClass]="(isDarkThemeSelected$ | async) ? 'background-dark-theme' : 'background-light-theme'">
                            <div class="item">
                                <div class="user-info">
                                    <p
                                        class="display-name"
                                        data-testid="display-name">
                                        {{ user.displayName }}
                                    </p>
                                    <p class="email">{{ user.email }}</p>
                                </div>
                                <div>
                                    <button
                                        aria-label="menu for quick menu to administrate members"
                                        mat-icon-button
                                        [attr.data-testid]="'menu-btn-' + user.displayName"
                                        [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            data-testid="edit-btn"
                                            mat-menu-item
                                            [routerLink]="['/admin/edit', user?.id]">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{ 'buttons.edit' | transloco }}</span>
                                        </button>
                                        <button
                                            *ngIf="user.status !== userStatus.PendingDeletion"
                                            mat-menu-item
                                            [routerLink]="['/admin/user-registration', user?.id]">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>{{ 'buttons.user_registration' | transloco }}</span>
                                        </button>
                                        <button
                                            *ngIf="user.status !== userStatus.PendingDeletion"
                                            data-testid="token-btn"
                                            mat-menu-item
                                            (click)="generateToken(user)">
                                            <mat-icon>build_circle</mat-icon>
                                            <span>{{ 'buttons.generate_token' | transloco }}</span>
                                        </button>
                                        <button
                                            *ngIf="user.status !== userStatus.PendingDeletion"
                                            data-testid="delete-btn"
                                            mat-menu-item
                                            (click)="deleteUser(user)">
                                            <mat-icon>delete</mat-icon>
                                            <span>{{ 'buttons.delete' | transloco }}</span>
                                        </button>
                                        <ng-container [ngSwitch]="user.status">
                                            <div *ngSwitchCase="userStatus.Active">
                                                <button
                                                    data-testid="state-btn"
                                                    mat-menu-item
                                                    (click)="switchUserActiveState(user)">
                                                    <mat-icon>lock</mat-icon>
                                                    <span>{{ 'buttons.deactivate' | transloco }}</span>
                                                </button>
                                            </div>
                                            <div *ngSwitchCase="userStatus.Inactive">
                                                <button
                                                    data-testid="state-btn"
                                                    mat-menu-item
                                                    (click)="switchUserActiveState(user)">
                                                    <mat-icon>lock_open</mat-icon>
                                                    <span>{{ 'buttons.activate' | transloco }}</span>
                                                </button>
                                            </div>
                                            <div *ngSwitchCase="userStatus.PendingRegistration">
                                                <button
                                                    data-testid="state-btn"
                                                    mat-menu-item
                                                    (click)="switchUserActiveState(user)">
                                                    <mat-icon>lock_open</mat-icon>
                                                    <span>{{ 'buttons.unlock' | transloco }}</span>
                                                </button>
                                            </div>
                                            <div *ngSwitchCase="userStatus.PendingDeletion">
                                                <button
                                                    data-testid="state-btn"
                                                    mat-menu-item
                                                    (click)="switchUserActiveState(user)">
                                                    <mat-icon>restore_from_trash</mat-icon>
                                                    <span>{{ 'buttons.reactivate' | transloco }}</span>
                                                </button>
                                            </div>
                                        </ng-container>
                                    </mat-menu>
                                </div>
                            </div>
                        </mat-list-item>
                    </ng-container>
                </div>
            </mat-list>
        </div>
        <vrt-paging
            [metadata$]="metadata$"
            (changePage)="pageOptionChanged($event)"></vrt-paging>
    </ng-container>
</div>
