:host {
    .margin-bottom-15 {
        margin-bottom: 0.938rem;
    }

    .loading-info {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .member-wrapper {
        display: grid;
        grid-template-rows: auto auto auto 1fr auto;
        height: 100%;
        padding: 0 0.5rem;

        &__content {
            display: grid;
            grid-template-rows: 1fr auto;
            height: 100%;
            overflow: auto;
        }

        &__list {
            height: 100%;
        }

        .user-list-item {
            .item {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .user-info {
                    p {
                        margin: 0;
                    }

                    .email {
                        color: darken(#efefef, 30%);
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .search-form {
        width: clamp(35%, 50%, 60%);
    }

    .search-area {
        align-items: baseline;
        display: flex;
        flex-direction: column;
    }

    .search-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .mat-mdc-radio-button {
        & ~ .mat-mdc-radio-button {
            margin-left: 1rem;
        }
    }

    @media only screen,
        (min-device-width: 23.438rem),
        (max-device-width: 50.75rem),
        (-webkit-min-device-pixel-ratio: 3),
        (orientation: portrait) {
        .user-list-item {
            height: 3.75rem;
            margin: 0.625rem 0;
        }
    }
}
