/* You can add global styles to this file, and also import other style files */
@use './roboto.scss';
@use './material-icons.scss';

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

.mdc-snackbar__surface {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

.lt-button-footer-group {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.lt-display-flex-center {
    display: flex;
    justify-content: center;
}

.lt-full-width {
    width: 100%;
}

.lt-margin-top-1 {
    margin-top: 1rem !important;
}

.lt-mat-form-wrapper {
    width: clamp(18.75rem, 100%, 37.5rem);
}

.notification-success .mdc-snackbar__surface {
    background: var(--success) !important;
    color: #ffffff;
}

.notification-error .mdc-snackbar__surface {
    background: var(--error-red) !important;
    color: #ffffff;
}

.notification-warning .mdc-snackbar__surface {
    background: var(--warning) !important;
    color: black;
}

.notification-message .mdc-snackbar__surface {
    background: var(--warning) !important;
    color: black;
}

.lt-no-margin {
    margin: 0 !important;
}

// Small Viewports
@media (max-width: 52rem) {
    html {
        font-size: 0.875rem;
    }
}
