<ng-container *ngIf="venues?.length">
    <button
        aria-label="menu button to select a specific venue"
        color="accent"
        data-testid="filter-menu"
        mat-icon-button
        [matMenuTriggerFor]="menu">
        <ng-container *ngIf="isFiltered; else isNotFiltered">
            <mat-icon>location_off</mat-icon>
        </ng-container>

        <ng-template #isNotFiltered>
            <mat-icon>fmd_good</mat-icon>
        </ng-template>
    </button>
    <mat-menu
        #menu="matMenu"
        data-testid="venues-selection">
        <button
            data-testid="all-btn"
            mat-menu-item
            (click)="onSelectionChange('')">
            @if (isFiltered) {
                <mat-icon>place</mat-icon>
            } @else {
                <mat-icon color="accent">where_to_vote</mat-icon>
            }
            <span>
                {{ 'events.button_filter_all_venues' | transloco | titlecase }}
            </span>
        </button>

        <ng-container *ngFor="let venue of venues">
            <button
                mat-menu-item
                (click)="onSelectionChange(venue.name)">
                @if (venue.name !== venueFilter) {
                    <mat-icon>place</mat-icon>
                } @else {
                    <mat-icon color="accent">where_to_vote</mat-icon>
                }
                <span>{{ venue.name }}</span>
            </button>
        </ng-container>
    </mat-menu>
</ng-container>
