<mat-card
    *ngIf="release"
    appearance="outlined">
    <ng-container *ngIf="!currentVersion; else currentVersionInfo">
        <mat-card-header>
            <mat-card-title>Version {{ release.number }}</mat-card-title>
            <mat-card-subtitle>
                {{ release.timestamp | date: 'shortDate' }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="release.added?.length">
                <h2>{{ 'releases.added_category' | transloco | titlecase }}</h2>
                <ul>
                    <li *ngFor="let item of release.added">
                        {{ item }}
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="release.changed?.length">
                <h2>{{ 'releases.changed_category' | transloco | titlecase }}</h2>

                <ul>
                    <li *ngFor="let item of release.changed">
                        {{ item }}
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="release.deleted?.length">
                <h2>{{ 'releases.removed_category' | transloco | titlecase }}</h2>

                <ul>
                    <li *ngFor="let item of release.deleted">
                        {{ item }}
                    </li>
                </ul>
            </ng-container>
        </mat-card-content>
    </ng-container>

    <ng-template #currentVersionInfo>
        <mat-card-header>
            <mat-card-title>{{ 'app.title' | transloco }}</mat-card-title>
            <mat-card-subtitle>
                Version {{ release.number }} ,
                {{ release.timestamp | date: 'shortDate' }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="copyright">
                <p>&copy; 2021 Karl-Heinz Holzigel, Dennis Hundertmark</p>
                <p>The MIT License (MIT)</p>
                <br />
                <h2 class="lt-no-margin">Project Sites</h2>
                <ul>
                    <li>
                        <a
                            href="https://gitlab.com/spaghetti-coders/vrt-backend"
                            target="_blank">
                            Backend-Project
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://gitlab.com/spaghetti-coders/vrt-frontend"
                            target="_blank">
                            Frontend-Project
                        </a>
                    </li>
                </ul>
            </div>
        </mat-card-content>
    </ng-template>
</mat-card>
