.copyright {
    display: flex;
    flex-direction: column;

    p {
        margin: 0 0 0 0.5em;
        padding: 0;
    }

    h2 {
        margin: 0 0 0 0.5em !important;
    }

    ul > li {
        a {
            color: #b7da28;
            word-break: break-all;
        }
    }
}
