<ng-container *ngIf="isDarkThemeSelected$ | async"></ng-container>
<div
    class="impressum-wrapper mat-app-background"
    [ngClass]="{ 'dark-theme-mode': isDarkThemeSelected }">
    <ng-container *ngIf="currentUser$ | async as user; else backToLogin">
        <button
            color="accent"
            mat-button
            (click)="navigateBack()">
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </ng-container>
    <ng-template #backToLogin>
        <button
            color="accent"
            mat-button
            routerLink="auth/login">
            {{ 'buttons.back' | transloco | titlecase }}
        </button>
    </ng-template>
    <div class="content">
        <div class="contact-details">
            <p>
                Polizei-Sportverein Hannover e.V.
                <br />
                Abteilung Badminton
                <br />
                An der Breiten Wiese 70
                <br />
                30625 Hannover
            </p>
            <p>
                E-Mail:
                <a href="mailto:psv.abteilung2@gmail.com"> psv.abteilung&#64;gmail.com </a>
            </p>
        </div>
    </div>
</div>
