.impressum-wrapper {
    height: 96vh;
    padding: 1rem;

    .content {
        font-size: 1rem;
        padding: 1rem;

        a {
            color: #b7da28;

            &:hover {
                color: #c2e048;
            }
        }

        .contact-details {
            line-height: 1.5rem;
        }
    }
}
