<div
    *transloco="let t"
    class="loading-wrapper">
    <div>
        <h2 class="status-message">{{ t('auth.msg_login_busy_text') }}</h2>
    </div>
</div>

<ng-container *ngIf="currentUser$ | async"></ng-container>
