.dialog-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button__group {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
