<mat-dialog-content>
    <div class="dialog-wrapper">
        <ng-container *ngIf="data.text !== 'admin'; else admin">
            <p>
                {{
                    data.text === 'anmelden'
                        ? 'event_registration_confirmation_text'
                        : ('dialog.cancel_event_registration_confirmation_text' | transloco)
                }}
            </p>
        </ng-container>
        <ng-template #admin>
            <p>
                {{ 'dialog.delete_event_registration_confirmation_text' | transloco }}
            </p>
        </ng-template>

        <div class="button__group">
            <button
                color="accent"
                mat-stroked-button
                type="button"
                [mat-dialog-close]="true">
                {{ data.text === 'anmelden' ? 'events.button_register' : ('events.button_cancel_registration' | transloco) }}
            </button>
            <button
                color="accent"
                mat-button
                type="button"
                [mat-dialog-close]="false">
                {{ 'buttons.back' | transloco | titlecase }}
            </button>
        </div>
    </div>
</mat-dialog-content>
